
<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>



<div id ="filterpart">
<div  id="filterbar">
  <div id="filterword1" >Advanced Filter</div>
  <div id="filterreset">Reset</div>
  <img id="filterexit" src="./assets/img/cross.png" (click)="closeFilter()">

</div>

<div id="filterbar2">
  <div id="filterword2">Asset Type</div>
  <select id="filterselect">
    <option [value]="">All</option>
    <option  [value]="">JPG</option>
    <option [value]="">PNG</option>
    <option  [value]="">VIDEO</option>
    <option [value]="">EXAMPLES</option>
    <option [value]="">EXAMPLES</option>
    <option [value]="">EXAMPLES</option>
    </select>
</div>
<div id="filterbar3">
    <div id="filterword3">Tags</div>
    <div id="tagleft">
    <input type="checkbox" id="tags1" name="tags1" value="">
    <label for="tags1">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags2" name="tags2" value="">
    <label for="tags2">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags3" name="tags3" value="">
    <label for="tags3">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags4" name="tags4" value="">
    <label for="tags4">Lorem Ipsum</label><br>
  </div>
  <div id="tagright">
    <input type="checkbox" id="tags5" name="tags5" value="">
    <label for="tags5">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags6" name="tags6" value="">
    <label for="tags6">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags7" name="tags7" value="">
    <label for="tags7">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags8" name="tags8" value="">
    <label for="tags8">Lorem Ipsum</label><br>
  </div>
</div>
<div id="filterbar4">
    <div id="filterword4">Colors</div>
<div id="allcolors">
    <div id="colorbox1"></div>  <div id="colorbox2"></div>  <div id="colorbox3"></div>  <div id="colorbox4"></div>
    <div id="colorbox5"></div>  <div id="colorbox6"></div>  <div id="colorbox7"></div>  <div id="colorbox8"></div>
  </div>
</div>
<div id="filterbar5">
    <div id="filterword5">Rights</div>
    <div id="tagleft2">
    <input type="checkbox" id="tags9" name="tags9" value="">
    <label for="tags9">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags10" name="tags10" value="">
    <label for="tags10">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags11" name="tags11" value="">
    <label for="tags11">Lorem Ipsum</label><br>
    <input type="checkbox" id="tags12" name="tags12" value="">
    <label for="tags12">Lorem Ipsum</label><br>
</div>
</div>

</div>
 
 <div id="thenew"></div>
   
 <div id="thenewbox">
   <img id="thenewexit" src="./assets/img/cross.png" (click)="closeUpload()">
   
   <div id="thenewtext1">
     <h3>Upload Assets</h3>
   </div>
   <div id="thenewtext3">
     <h3>Please choose the assets.</h3>
   </div>
   <input id="thenewinput" type="file" placeholder="Lorem Ipsum">
   <div id="thenewtext2">
    <h3>Please name your asset:</h3>
  </div>
  <input id="thenewinput" type="text" placeholder="Lorem Ipsum">
  <div id="thenewtext2">
    <h3>Please enter the asset detail:</h3>
  </div>
  <input id="thenewinput" type="text" placeholder="Lorem Ipsum">
   <button id="thenewbut" (click)="closeUpload()" > <h3>Upload Assets</h3></button>
   </div>





   <div id="assetshade"></div>
   
   <div id="assetdetail">
    <img id="assetdetailexit" src="./assets/img/cross.png" (click)="closeDetail()">
  <div id="brandsign"><h3>Brand Signature</h3></div>
  
  <br>


 <div id="detailbox">
   <div id="detailimgpart">
<div id="detailimg"> <img id="thedownload" src="./assets/img/download.png"></div>
<button id="imgoverview" (click)="showOverview()"><h3>Overview</h3></button>
<button id="imgusage" (click)="showUsage()"><h3>Usage</h3></button>

</div>

<div id="detailword">
  <div id="detailword1" >
  <h2>Detail</h2>
  <h3>Asset ID</h3>
  <h4 id="assetid"></h4>
  <h3>Campaign</h3>
  <!-- <h4>{{ selectedAsset.categoryID}}</h4> -->
  <h3>Tags</h3>
  <h4 id="assetdesc"></h4>
  <h3>Color</h3>

  <h2>Rights/ Terms of Use</h2>

</div>
</div>




<div id="detailinsight">
  <h2>Insights from the last 30 days</h2>

  <button id="viewinsightbut">View Insight</button>
<div id="insightbotbox">
  <div id="insightbotleft">
<div id="assetscore">
  <h2>2</h2>
  <h3>Asset Score</h3>
</div>
  </div>
  <div id="insightbotright">
    <div id="assetview">
      <h2>2</h2>
      <h3>Views</h3>
    </div>
    <div id="assetdownload">
      <h2>2</h2>
      <h3>Downloads</h3>
    </div>
    <div id="assetshare">
      <h2>2</h2>
      <h3>Shares</h3>
    </div>
  </div>
</div>
</div>




 </div>


    </div>

    
<div id="container">
  <div class="supertop"  style="margin: 0;"> 
    <div class="navi" >
      
  
      <img id="logopart" src="./assets/img/newlogoblack.png">
      
     
      <a routerLink="/loginhome" class="navibottom">Home</a>
            <a id="firstbut" routerLink="/asset" class="navibottom">Assets</a>
            <a routerLink="/campaign" class="navibottom">Campaigns</a>
            <a routerLink="/guideline" class="navibottom">Guidelines</a>
            <a routerLink="/home">  <img id="exit" src="./assets/img/exit.png"></a>
       <img id="search" src="./assets/img/search.png">


       <a class="icon" (click)="openNav()">
        <img id="hamburger" src="./assets/img/hamburger.png">
        <img id="search2" src="./assets/img/search.png">
             </a> 


    </div>
  </div>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a id="sidenavibut" routerLink="/loginhome">Home</a>
    <a id="sidenavibut" (click)="showFilter()">Filter</a>
    <a id="sidenavibut" routerLink="/asset">Assets</a>
    <a id="sidenavibut" routerLink="/campaign">Campaigns</a>
    <a id="sidenavibut" routerLink="/guideline">Guidelines</a>
    <a id="sidenavibut" routerLink="/home">Exit</a>

  </div>
  
  <div id="botpart" >
    <div id="searchpart">
    <div id="searchy">
      <div id="createnew" (click)="showUpload()"><h3>New</h3></div>
      <div id="searchselet">
        <!-- <select [(ngModel)]="searchStr2"> -->
               
          <select (change)= "onChange($event)" [(ngModel)]="searchStr2">
          <option selected [value]="">All</option>
          <option placeholder="Category" *ngFor="let category of myCategory" [value]="category.categoryID">
          <h5>{{ category.categoryname }}</h5>
          </option>
          </select>
      <!-- </select> -->

      </div>
      <div id="searchinput">
    <input type="text" [(ngModel)]="searchStr">
 
      </div>
      <button id="filterword" (click)="showFilter()">Filter</button>
    </div>
   
    </div>
    <a id="title1">COLLECTIONS</a> 
    <div id="collections" >
      <div id="eachcoll"*ngFor=" let asset of displayAssets| slice:0:3 ;">
        <div id="collbrand" >
          <h2> {{ categoryService.getCategoryName(asset.categoryID)}}</h2>
      </div>
      <div id="collright">
        <div id="collrightdot">
<div id="thedot"></div>
        </div>
        <div id="collrightdes">
        <div id="collrightdes1">  <a id="collword1">Logos</a></div>
        <div id="collrightdes2">  <a id="collword2">14 Assets</a></div>
      </div>
      </div>
      </div>
   
    </div>
   
    <a id="title">ASSETS</a> 
 
    <a id="title2">Recent Uploads</a>


      <div id="contentbox">
        <div id="block_{{asset.productID}}"  *ngFor=" let asset of displayAssets| slice:0:15 | search: 'name' : searchStr;" > <!--[appHoverHighlight]="{background:'#cfcfcf',leave:'white'}" -->
      <div id="everysingle">
          <div id="block">
           <div id="blockhover">
            <img id="hoverexpand" src="./assets/img/expand.png">
            <img id="hoverdot" src="./assets/img/detail.png" (click)="onDelete(asset.productID);">
             
            <!-- <button id="hovershowbut" routerLink= "/details/{{ asset.productID}}">View -->
            <button id="hovershowbut" (click)="showDetail (asset.productID,asset.description);">View


            </button>
          
          </div>
        
            <div id="descpart" >
              <h2> <!-- {{ categoryService.getCategoryName(asset.categoryID)}}--> {{asset.name}}</h2>
          </div>


          </div>
          <div id="logoword">
            <div id="roundlogo" > <div id="roundlogo1" ></div></div>
           
            <div id="abitdown">
              <div id="widfull">
            <a id="logoword1">Logos</a>
          </div>
        
          </div>
          </div>
   </div>
      </div>
      
      
      </div>

   
    
      </div>
      
      <div id="botbox">
      
      </div>

  </div>



  
  <!--
<div class="container">
 
  
    
   <div class="searchbar">
       <h3> Search... : </h3> <div id="search"><input type="text" [(ngModel)]="searchStr"></div>
      
      </div>
        <div id="categorychoose">
          <h4> Filter... :</h4>
          <div id="selectbox">
          <select [(ngModel)]="searchStr2">
               
                <option selected value="" >All</option>
              <option placeholder="Category" *ngFor="let category of myCategory"  [value]="category.categoryID">
                <h5>{{ category.categoryname }}</h5>
              </option>
              
            </select>
          </div>
          </div>-->
       
  <!--
          <div id="everysingle" *ngFor=" let asset of myAssets| category: 'categoryID' : searchStr2 | search: 'name' : searchStr; let i = index" [appHoverHighlight]="{background:'#cfcfcf',leave:'transparent'}">
            
            <div id="block">
              <div id="imgpart" >
                <img id="detailimg" src="{{asset.imageURL}}" > 
            </div>
             <h1> {{ categoryService.getCategoryName(asset.categoryID)}}</h1>
            <h2 id="brandword"><strong>{{ asset.brand}}</strong></h2>
        
            <h2>{{ asset.name| uppercase}}</h2>
             
           
            <button class="view-movie-details" (click)="viewdetails(asset.productID);">Details</button>
            <button class="view-movie-details" (click)="onDelete(asset.productID);">Delete</button>
            </div>
     </div>
  
   
 
</div>
-->