<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>



<div class="supertop"> 
    <div class="navi" >
      

      <img src="./assets/img/newlogoblack.png" alt="Louken Group" title="Louken Group" class="main-logo">
      
     <!--
      <a routerLink="/home" class="navibottom">Product</a>
            <a routerLink="/home" class="navibottom">Client Stories</a>
            <a routerLink="/home" class="navibottom">Solutions</a>
            <a routerLink="/home" class="navibottom">Plans</a>
            <a routerLink="/home" class="navibottom">Resources</a>
      <a *ngIf="AuthService.loggedIn" routerLink="/asset" class="navibottom">Assets</a>
    
  -->

     <!-- <a routerLink="/enquiry" class="navibottom">Enquiry</a>-->
     <div id="landingbut">
     <button id="getstart" routerLink="/adminlogin" >Get Started</button>
      <button id="yourlouken" routerLink="/adminlogin" >Sign in</button>
    </div>
    <!--
      <a id="logout" *ngIf="AuthService.loggedIn"  (click)="onLogout();" class="navibottom" >[Logout]</a>
    
     -->
    </div>
  </div>
  
  
  