.supertop{

	width:100%;
    z-index:1;
    margin-left:-20px;


}
	

.navi{
	padding-right:20px;

margin-right:-20px;

width:100%;
padding-top:36px;
padding-bottom:36px;
float:left;

    }
	 input{
     float:right;
     margin:10px;
   }
   /*
.navi:hover{
	color:#000000;
	opacity:1;
	background-color:#000000;

}*/
	#logout{
		color:white;
		float:right;
		border-left:2px solid white;
	}
.navibottom{
	
	border:none;
	display:inline-block;
	
	padding:16px 32px;
	padding-top:29px;
	padding-bottom:20px;
		color:white;
	text-decoration:none;	
 


	}
	
.navibottom:hover{
	/*
	color:#000000;
	background-color:#707070;
	*/
}

a{
	font-size:18px;
	font-weight:300 !important;
	float:left;
	margin-top:20px;
	
}

img{
	float:left;
	margin-left:9%;
	margin-top:45px;
	width:220px;
	padding-right: 60px;
}

#yourlouken{
	background: transparent;
	width:180px;
	height:55px;
	float:right !important;
	border:2px solid black;
	border-radius: 10px;
	color:black;
	font-size:18px;
	font-weight:200 !important;
	margin-right: 20px;
}

#getstart{
	background: transparent;
	width:180px;
	height:55px;
	float:right !important;
	border:none;
	border-radius: 10px;
	color:white;
	font-size:18px;
	font-weight:200 !important;
	background-color: black;

	margin-right: 40px;

}

button{
	margin-top:33px;
	
}


@media only screen and (max-width: 800px) {
	#landingbut{
		display:none;
	}
  }

  #supertop{

    font-family: Futura Book; 
  }

  button{
    font-family: Futura Book; 
  }