<div id="wholeting">
    <img src="/assets/img/AssetBack.jpg" alt="Background" height="100%" width="100%">

    <div id="enquirylis" appHoverHighlightgreen>
        <app-enquiry-list [myEnquiries]="enquiryList" ></app-enquiry-list>
    </div>
<div id="container" appHoverHighlightgreen>
  
    <app-enquiry-add (assetListUpdated)="onassetListUpdated($event)"></app-enquiry-add>
    
    <button type="Add" class="btn btn-success" (click)=showadd()>Show Enquiry</button>
    
    </div>

</div>

<!-- (enquiryAdded)="onEnquiryAdded($event)"-->