<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>


<div id="wholeting">
    
    <div class="container">
    <div id="assetlist"  appHoverHighlightgreen>
    <app-campaignlist [myAssets]="assetList" [myCategory]="categoryList"></app-campaignlist>
    </div>
     <!-- <div id="addelectro"  appHoverHighlightgreen>
    <button (click)="showadd()">Add Asset</button>
    <app-asset-add (assetListUpdated)="onassetListUpdated($event)" id="addasset"></app-asset-add>
    </div>-->  
    </div>
    </div>
    