<h4>Contact Me</h4>
<hr >
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <form>
        <div class="form-group">
          <label for="username">Your Name:</label>
          <input type="text" id="username" class="form-control">          
        </div>
        <div class="form-group">
          <label for="useremail">Your Email:</label>
          <input type="email" id="useremail" class="form-control">          
        </div>
        <div class="form-group">
          <label for="usermessage">Your Message:</label>
          <textarea type="text" id="usermessage" rows="5" class="form-control"></textarea>          
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr>      
    </div>
  </div>  
</div>
