input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  span.help-block {
      color: red;
  }
  
#red{
    float: right;
    font-size: 10px !important;
    margin-right: 20%;
    margin-top: -3% !important;
    margin-bottom: 0px !important;
    
}
div {
    text-align: left;
}
label{
    font-size:20px;
    color:white;
}



.container{
    padding-left:8%;
}
 
input {
  width: 90%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top:8px !important;
    
  margin-right:8px !important;
 
}
select{
  width: 90%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top:8px !important;
    
  margin-right:8px !important;
 
}
option{
  font-size:22px !important;
}
button {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    margin-top:20px;
    margin-left:12%;
  }
  
  button:hover {
    background-color: #45a049;
  }

  #hidethis{
    display: none;
  }
  .container{
    margin-top:5% !important;
  }