

  .supertop{

	width:100%;
    z-index:1;
  
    
    
}
    









.navi{


  
    width:100%;
    height:56px;
 
background-color:white;
    }

    .navi a{
        margin-top:8px !important;
    }
   
        .navibottom:hover{
	background-color:#cfcfcf;
            }
    
        #firstbut{
          border-bottom: 5px solid black;
        }




#botpart{
 
  width:100%;
    background-color:#EBEBEB;
    height:800px;
    padding-left:16px !important;
    margin-left:-8px;

}

#logopart{
    float:left;
	margin-left:4%;
	margin-top:10px;
	width:180px;
 
    
}


#container{
    width:100% !important;
  
}

#block{
    position: relative;
   
}

#contentbox{
    width:90%;
    float: left;
    margin-left: 5%;
}

#botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
    margin-left: -16px;
    padding-right: 16px;
   position: fixed;
   bottom:0;
z-index: 111111;
}

#loginhomeline{
    position: relative;
    width: 40%;
    float:right;
}


/* each box */
#searchpart{
    height: 100px;
    margin-right: 0px;
}
#everysingle{
    width:15%;
    height: 170px;
    position: relative;
    display:inline-block;
    background-color:#EBEBEB;
    border-radius: 15px;
    margin-right:30px;
    margin-top:20px;
    box-shadow: 5px 5px 20px grey;

}


#logoword1{
    font-size:12px;
    font-weight: 600 !important;
    text-align: left;
    clear:both;
 
    }
    
    #logoword2{
        font-size:10px;
        font-weight: 200 !important;
        text-align: left;
  
    }

    #widfull2{
margin-top: -5px;
    }
    #abitdown{
        margin-top: 13px;
  
  
    }
    #logoword{
       z-index: 1111;
        float: left;

        text-align: left;
        background-color: white;
        width:100%;
        height:70px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 30px !important;
    }

    #roundlogo1{
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: lightblue;
        margin-left:17px;
        margin-top:18px;
    }
   
    #roundlogo{
       width:25%;
       float:left;
       height:100%;
  
    }
    
    




/* search bar */

#searchpart{
    width:100%;
    
}

#searchy{
    width:60%;
 
    margin-left:23%;  
 
}



#searchselet select{
    border:1px solid black;
    border-right: 0px;
  width:120px;
    height: 34px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#searchinput input{
    width:324px;
    height:32px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid black;
    margin: 0px !important;
    padding: 0px !important;
  
}

#searchselet{
   float:left;
   margin-top: 50px;
}
#searchinput {
   float:left;
   margin-top: 50px;
}

#createnew{
    width:80px;
    height:35px;
    margin-top:50px;
    border-radius: 20px;
    background-color: #7B8996;
    color:white;
    border:none;
    float:left;
    margin-right: 10%;
}
#createnew:hover{
  background-color: lightblue;
  color:#7B8996;
}
#createnew h3{
    margin-top:7px;
    font-weight: 300;
}
/* mobile responsiveness*/


.navibottom{
	
    border:none;
    display:inline-block;
    
    padding:12px 26px;


        color:black;
    text-decoration:none;	
 font-size: 16px;
margin-left:50px;
font-weight:500;
vertical-align: text-bottom;

    }
    #hamburger{
        float:right;
    display:none;
        margin-top:16px;
        width:26px;
        padding-right: 20px;
    }

    #search2{
        float:right;
    
        margin-top:14px;
        width:26px;
        padding-right: 20px;
        display:none;
    }
    
 

    @media only screen and (max-width: 1200px) {
        #widfull a{
            margin-left:10px;
          }
          #widfull2 a{
            margin-left:10px;
          }

        #searchselet select{
      
          width:100px;

        }
        
        #searchinput input{
            width:280px;

        }
 
        #logonword{
   
    
            margin-top:320px;
 
        }


        .navibottom{
	
     
            
            padding:12px 26px;
       
              width:60px;
        margin-left:40px;


            }
      }

      @media only screen and (max-width: 1100px) {
        #searchselet select{
      
            width:80px;
  
          }
          
          #searchinput input{
              width:240px;
  
          }
   

        .navibottom{
	
     
            
   
     
        margin-left:20px;


            }
      }

      @media only screen and (max-width: 1000px) {
        #everysingle{
            width:25%;
            height: 170px;
        
        
        }

        #createnew{
     
            margin-right: 10%;
        }
        #searchy{
            width:80%;
         
    
         
        }
        #searchselet select{
      
            width:80px;
  
          }
          
          #searchinput input{
              width:200px;
  
          }
        .navibottom{

        margin-left:5px;


            }


 
            #botpart{
                height: 800px;
                width:100%;
            }
            
      }


      @media only screen and (max-width: 930px) {

        #searchy{
            width:80%;
         
         margin-left:29%;   
         
        }
    
          
        .navibottom{
           display: none;
       }

       #exit{
           display:none;
       }
       #search{
           display:none;
       }
    
       #hamburger{
           display: block;
           float:right !important;
       }
       #search2{
           display: block;
       }


      }
      @media only screen and (max-width: 750px) {
        #everysingle{
            width:35%;
            height: 170px;
        
        
        }

          
        #searchy{
            width:80%;
         
         margin-left:25%;   
         
        }
    }
      @media only screen and (max-width: 700px) {
        #createnew{
     
            margin-right: 10%;
        }
        #searchy{
            width:80%;
         
         margin-left:10%;   
         
        }

#botpart{
    height: 1000px;
}

      }

      @media only screen and (max-width: 530px) {
    
        #everysingle{
            width:40%;
            height: 170px;
        
        
        }


        #logopart{
     
       
            margin-top:10px;
            width:160px;
         
            
        }
        #searchinput input{
            width:130px;

        }
        #createnew{
     
            margin-right: 5%;
        }
        #searchy{
            width:80%;
         
         margin-left:5%;   
         
        }

        #search2{
            width:26px;
            margin-top: 14px;
        }
        #hamburger{
          width:26px;
          margin-top: 16px;
          padding-right: 20px;
      }



      }

      @media only screen and (max-width: 400px) {
   
        #searchy{
            width:95% !important;
            margin-left: 0px;
        }
      #everysingle{
        width:70%;
        height: 170px;
    
    
    }
}
      @media only screen and (max-width: 370px) {

        #logopart{
     
       
            margin-top:10px;
            width:140px;
         
            
        }
        #searchinput input{
            width:110px;

        }
        #createnew{
     
            margin-right: 4%;
        }
        #searchy{
            width:80%;
         
         margin-left:0%;   
         
        }

        #search2{
            width:22px;
            margin-top: 12px;
        }
        #hamburger{
          width:22px;
          margin-top: 14px;
          padding-right: 10px;
      }


      }


/* side navigation */

#search{
    float:right;

	margin-top:14px;
	width:26px;
	padding-right: 20px;
}
#exit{
    float:right;

	margin-top:16px;
	width:26px;
	padding-right: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #container {
    transition: margin-left .5s;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #sidenavibut{
      text-align: center;
      margin-left:-20px;
      font-size: 20px;
  }

  #botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
   margin-left:-8px;
   position: fixed;
   bottom:0;
z-index: 111111;
}


/*create new button*/
#thenew{
    position: fixed;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.4;
    z-index: 100000;
    margin-left:-8px;
    padding-right:16px;
    margin-top: -8px;
    display:none;
}

#thenewbox{

    position: fixed;
    width:450px;
    height:380px;
   left:50%;
   margin-left:-225px;
    margin-top: 10%;
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    z-index: 100001;
display:none;
}

#thenewexit{
    float:right;
    margin-top: 30px;
    margin-right: 30px;
    padding-left:100%;
    width:26px;
}

#thenewtext1{
    width:100%;
    text-align: center;
    margin-top:100px;
}

#thenewtext1 h3{
   font-size: 15px;
   font-weight: 700;
}

#thenewtext2{
 text-align: left;
 margin-left: 15%;
    margin-top: 50px;
}

#thenewtext2 h3{
    font-size: 12px;
    font-weight: 300;
}

#thenewinput{
    text-align: left;
    margin-left: 15%;
    float: left;
    width:60%;
    height:25px;
    padding-left:10px;
  border:none;
    border-radius: 5px;
   }

   #thenewbut{
       width:150px;
       display: inline-block;
       height:40px;
       border-radius:15px;
       background-color: #7B8996;
       margin-top: 100px;
       color:white;
       border:none;
   }
   #thenewbut h3{
    font-size: 14px;
    font-weight: 600;
    margin-top: 6%;
}

#container{

    font-family: Futura Book; 
  }
  #thenewbox{

    font-family: Futura Book; 
  }

  button{
    font-family: Futura Book; 
  }

  button[type=submit]{
    font-family: Futura Book; 
  }

  @media only screen and (max-width: 500px) {
    #thenewbox{

        position: fixed;
        width:90% !important;
        height:380px;
       left:50%;
       margin-left:-45%;
        margin-top: 10%;

    }

}

