

<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>


   <div id="thenew"></div>
   
   <div id="thenewbox">
     <img id="thenewexit" src="./assets/img/cross.png" (click)="closeNew()">
     
     <div id="thenewtext1">
       <h3>Create new Campaigns</h3>
     </div>
     <div id="thenewtext2">
       <h3>Project Name</h3>
     </div>
     <input id="thenewinput" placeholder="Lorem Ipsum">
     <button id="thenewbut" (click)="closeNew()" routerLink="/campaignnew" > <h3>Create Campaign</h3></button>
     </div>
   <div id="container">
     <div class="supertop"  style="margin: 0;"> 
       <div class="navi" >
         
     
         <img id="logopart" src="./assets/img/newlogoblack.png">
         
        
         <a routerLink="/loginhome" class="navibottom">Home</a>
               <a routerLink="/asset" class="navibottom">Assets</a>
               <a id="firstbut" routerLink="/campaign" class="navibottom">Campaigns</a>
               <a routerLink="/guideline" class="navibottom">Guidelines</a>
               <a routerLink="/home">  <img id="exit" src="./assets/img/exit.png"></a>
          <img id="search" src="./assets/img/search.png">
   
   
          <a class="icon" (click)="openNav()">
           <img id="hamburger" src="./assets/img/hamburger.png">
           <img id="search2" src="./assets/img/search.png">
                </a> 
   
   
       </div>
     </div>
   
     <div id="mySidenav" class="sidenav">
       <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
       <a id="sidenavibut" routerLink="/loginhome">Home</a>
       <a id="sidenavibut" routerLink="/asset">Assets</a>
       <a id="sidenavibut" routerLink="/campaign">Campaigns</a>
       <a id="sidenavibut" routerLink="/guideline">Guidelines</a>
       <a id="sidenavibut" routerLink="/home">Exit</a>
   
     </div>
     
      
       <div id="botpart" >
      
       <div id="searchpart">
       <div id="searchy">
        <button id="createnew" (click)="showNew()"><h3>New</h3></button>
        <div id="searchbarr">
         <div id="searchselet">
           <!-- <select [(ngModel)]="searchStr2"> -->
             
             <select (change)= "onChange($event)">  
              <option selected [value]="" ></option>  
             <option [value]="" >All</option>

           <option placeholder="Category" *ngFor="let category of myCategory"  [value]="category.categoryID">
             <h5>{{ category.categoryname }}</h5>
           </option>
           <!-- </select> -->
           
         </select>
         </div>
         <div id="searchinput">
       <input type="text">
         </div>

        </div>

       </div>
    
       </div>
       
         <div id="contentbox">
           <div id="everysingle"  *ngFor=" let asset of displayAssets | slice:0:100 ;" [appHoverHighlight]="{background:'#cfcfcf',leave:'#EBEBEB'}">
         
             <div id="block">
   
           
               <div id="descpart" >
                 <h2> {{ categoryService.getCategoryName(asset.categoryID)}}</h2>
             </div>
   
   
             </div>
             <div id="logoword">
               <div id="roundlogo" > <div id="roundlogo1" ></div></div>
              
               <div id="abitdown">
                 <div id="widfull">
               <a id="logoword1">Logos</a>
             </div>
             <div id="widfull2">
               <a id="logoword2">14 Assets</a>
             </div>
             </div>
             </div>
      
         </div>
         
         
         </div>
   
      
       
         </div>
         
         <div id="botbox">
         
         </div>
   
   
       </div>
     
     <!-- https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/ -->
     
       