
<div class="container" >
  <h1>Add Enquiry</h1>
  <div class="row">
    <div class="wholeform">

    <form [formGroup]="EnquiryForm" (ngSubmit)="onSubmit()">

      <div class="form-group row" id="hidethis">
        <label for="EnquiryName" class="col-sm-3 form-control-label"><h2>Name:</h2></label>
        <div class="col-sm-9">
          <input type="text"  class="form-control" id="EnquiryName" #EnquiryName>
        
        </div>
      </div>

      <div class="form-group row">
        <label for="EnquiryEmail" class="col-sm-3 form-control-label"><h2>Email:</h2></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="EnquiryEmail"  [formControlName]="'EnquiryEmail'" #EnquiryEmail>
          <span
          *ngIf="!EnquiryForm.get('EnquiryEmail').valid && EnquiryForm.get('EnquiryEmail').touched"
          class="help-block">
          <span *ngIf="EnquiryForm.get('EnquiryEmail').errors['required']"><h3>This field is required!</h3></span>
          <span *ngIf="!EnquiryForm.get('EnquiryEmail').errors['required'] && EnquiryForm.get('EnquiryEmail').errors['email']"><h3 id="email">Invalid email!</h3></span>
          <span *ngIf="EnquiryForm.get('EnquiryEmail').errors['emailBlackListed']"><h3>This email is not allowed.</h3></span>
      </span>   
        </div>
      </div>

      <div class="form-group row">
            <label for="EnquirySubject" class="col-sm-3 form-control-label"><h2>Subject:</h2></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="EnquirySubject"  [formControlName]="'EnquirySubject'" #EnquirySubject>
              <span
              *ngIf="!EnquiryForm.get('EnquirySubject').valid && EnquiryForm.get('EnquirySubject').touched"
              class="help-block">
              <span *ngIf="EnquiryForm.get('EnquirySubject').errors['required']">
              <h3> This field is required!</h3>
              </span>
              <span *ngIf="!EnquiryForm.get('EnquirySubject').errors['required'] 
              && EnquiryForm.get('EnquirySubject').errors['blankSpaces']">
            <h3 id="empty">  Empty spaces are not accepted.</h3 >
              </span>
          </span>  
            </div>
          </div>

          <div class="form-group row">
                <label for="EnquiryMessage" class="col-sm-3 form-control-label"><h2>Messages:</h2></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="EnquiryMessage"  [formControlName]="'EnquiryMessage'" #EnquiryMessage>
                  <span
                  *ngIf="!EnquiryForm.get('EnquiryMessage').valid && EnquiryForm.get('EnquiryMessage').touched"
                  class="help-block">
                  <span *ngIf="EnquiryForm.get('EnquiryMessage').errors['required']">
                  <h3>   This field is required!</h3>
                  </span>
                  <span *ngIf="!EnquiryForm.get('EnquiryMessage').errors['required'] 
                  && EnquiryForm.get('EnquiryMessage').errors['blankSpaces']">
                <h3 id="empty">   Empty spaces are not accepted.</h3>
                  </span>
              </span>  
                </div>
              </div>
              <div id="hidethis" class="form-group row">
                <label for="EnquiryStatus" class="col-sm-3 form-control-label"><h2>Status</h2></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="EnquiryStatus"  #EnquiryStatus value="unread">
                 
                </div>
              </div>
              
          

      <button type="Add" class="btn btn-success" (click)="onAddEnquiry(EnquiryName,EnquiryEmail,EnquirySubject,EnquiryMessage,EnquiryStatus)" >Add Enquiry</button>
            </form>
    </div>
  </div>
</div>
