<!-- <div id="wholeting">
    <img src="/assets/img/AssetBack.jpg" alt="Smiley face" height="100%" width="100%">
<div class="container">

    <div class="detail"> -->
   <!--
      <div id="wordpart">
       
       <h1>Asset Details</h1>
    
          <h1> ProductID: {{chosenproduct.productID}} </h1> 
          <h1>  {{chosenproduct.brand}} {{chosenproduct.name}} </h1>
          <h1> Description: {{chosenproduct.description}} </h1>
          <h1> Price: {{chosenproduct.price}} </h1>
          <h2> CategoryID: {{chosenproduct.categoryID}} </h2>
          <br>
          <a routerLink="/asset" class="navibottom">Go Back</a>
        </div>

        <div id="imgpart" >
            <img id="detailimg" src="{{chosenproduct.imageURL}}" alt="Smiley face"> 
        </div>

-->

<!-- <div  *ngIf="showEditForm">
    <div id="editng">
        <hr>
        <h2>Edit Asset:</h2>
        <div class="form-group row">
            <label for="inputname" id="editword">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputname" #inputname [value]="selectedAsset.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputdescription" id="editword">Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputdescription" #inputdescription [value]="selectedAsset.description">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputbrand" id="editword">Brand</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputbrand" #inputbrand
                    [value]="selectedAsset.brand">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputprice" id="editword">Price</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputprice" #inputprice
                    [value]="selectedAsset.price">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCategoryID" id="editword">Category</label> 
            
            <div class="col-sm-9">
              <input type="number" class="form-control" id="inputCategoryID"  #inputCategoryID>-->
              <!-- <select id="Categorysss"  id="inputCategoryID" #inputcategoryID >
                <option value="1">Laptop</option>
                <option value="2">Phones</option>
                <option value="3">Earphones</option>
           
              </select>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputimageURL" id="editword">ImageURL</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputimageURL" #inputimageURL
                    [value]="selectedAsset.imageURL">
            </div>
        </div>
       
        <button (click)="onUpdate(inputname.value, inputdescription.value, inputbrand.value, inputprice.value, inputcategoryID.value, inputimageURL.value)" class="btn btn-success">Update</button>
        &nbsp;
        <button (click)="toggleShowEditForm();" class="btn btn-warning">Cancel</button>
    </div>
</div>
<div id="wordpart"> --> 
       
    <!-- <h1>Asset Details</h1> -->
   <!-- <div class="row" *ngIf="!showEditForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ selectedAsset.name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ selectedAsset.description }}</h6>
                    <p class="card-text">
                        {{ selectedAsset.brand }}
                    </p>
                    <p class="card-text">
                      {{ selectedAsset.price }}
                  </p>
                  <p class="card-text">
                    {{ selectedAsset.categoryID }}
                </p>
                <p class="card-text">
                  {{ selectedAsset.imageURL }}
              </p>
                   
                    &nbsp;
                    <button (click)="toggleShowEditForm();" class="btn btn-warning">Edit</button>
                </div>
            </div>
        </div>
    </div>-->
   

<!--    
       <h1> ProductID: {{selectedAsset.productID}} </h1> 
       <h1>  {{selectedAsset.brand}} {{selectedAsset.name}} </h1>
       <h1> Description: {{selectedAsset.description}} </h1>
       <h1> Price: {{selectedAsset.price}} </h1>
       <h2> CategoryID: {{selectedAsset.categoryID}} </h2>
       <a id="a2" (click)="toggleShowEditForm();" class="btn btn-warning">Edit</a>
       <a routerLink="/asset" class="navibottom">Go Back</a>
     </div>

     <div id="imgpart" >
         <img id="detailimg" src="{{selectedAsset.imageURL}}" alt="Smiley face"> 
     </div>

      
    
  
    </div>
 
</div>
</div> -->

<!-- <div id="detailword">
    <h2>Detail</h2>
    <h3>Asset ID</h3>
    <h4>{{ selectedAsset.productID}}</h4>
    <h3>Campaign</h3>
    <h4>{{ selectedAsset.categoryID}}</h4>
    <h3>Tags</h3>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum consectetur mauris ac sodales. Cras laoreet</h4>
    <h3>Color</h3>
  
    <h2>Rights/ Terms of Use</h2>
  </div>
  <div id="detailinsight">
    <h2>Insights from the last 30 days</h2>
  
    <button id="viewinsightbut">View Insight</button>
  <div id="insightbotbox">
    <div id="insightbotleft">
  <div id="assetscore">
    <h2>2</h2>
    <h3>Asset Score</h3>
  </div>
    </div>
    <div id="insightbotright">
      <div id="assetview">
        <h2>2</h2>
        <h3>Views</h3>
      </div>
      <div id="assetdownload">
        <h2>2</h2>
        <h3>Downloads</h3>
      </div>
      <div id="assetshare">
        <h2>2</h2>
        <h3>Shares</h3>
      </div>
  
      </div> -->

      