

  .supertop{

	width:100%;
    z-index:1;
  
    
    
}
    









.navi{


  
    width:100%;
    height:80px;
 
background-color:white;
    }

    .navi a{
        margin-top:8px !important;
    }
    .navibottom{
	
        border:none;
        display:inline-block;
        
        padding:16px 32px;
        padding-top:29px;

            color:black;
        text-decoration:none;	
     font-size: 18px;
    margin-left:50px;
    font-weight:500;
    vertical-align: text-bottom;
        }
        .navibottom:hover{
	background-color:black;
            }
    
        #firstbut{
          border-bottom: 5px solid black;
        }




#botpart{
 
  width:100%;
    background-color:#EBEBEB;
    height:1300px;
    padding-left:16px !important;
    margin-left:-8px;

}

#logopart{
    float:left;
	margin-left:6%;
	margin-top:20px;
	width:220px;
 
    
}

#search{
    float:right;
	margin-left:6%;
	margin-top:20px;
	width:35px;
	padding-right: 60px;
}
#exit{
    float:right;
	margin-left:6%;
	margin-top:20px;
	width:35px;
	padding-right: 60px;
}

#container{
    width:100% !important;
  
}


#middlebox{
    width:95%;
height:550px;
float:right;
border-radius: 30px;
background-color: white;

margin-top:3%;

margin-right:2.5%;
}



#logonword{
   
    float: left;
color:black;
    width:30%;
    font-size: 20px;
    margin-top:420px;
    margin-left: 17%;
    text-align: left;
}

#roundlogo{
    float:left;


	width:100px;
	
}

#logoword1{
font-size:20px;
font-weight: 600 !important;
text-align: left;
}

#logoword2{
    font-size:16px;
    font-weight: 200 !important;
    text-align: left;
}

#logoword{
   
    float: left;
margin-left: 15px;
margin-top: 22px;
    text-align: left;
}

#everysingle{
    width:18%;
    height: 120px;
    position: relative;
    display:inline-block;
    background-color: white;
    border-radius: 10px;
    margin-right:20px;
    margin-top:20px;
}

#detailimg{
    object-fit: contain;
    height:120px;
    max-width:100%;
}


#title{
    float:left;
    margin-left:7%;
    margin-top:5%;
    font-weight: 700 !important;
    color:#666666;
 
   width:200px;
   text-align:left;
}

#block{
    position: relative;
}

#contentbox{
    width:80%;
    float: left;
    margin-left: 10%;
}

#botbox{
    width:100%;
    height:75px;
    background-color: #7B8996;
    margin-left: -8px;
    padding-right: 16px;

}

#loginhomeline{
    position: relative;
    width: 40%;
    float:right;
}

