
<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>

 <div id="thenew"></div>
   
 <div id="thenewbox">
  <img id="thenewexit" src="./assets/img/cross.png" (click)="closeUpload()">
  
  <div id="thenewtext1">
    <h3>Upload Assets</h3>
  </div>
  <div id="thenewtext3">
    <h3>Please choose the assets.</h3>
  </div>
  <input id="thenewinput" type="file" placeholder="Lorem Ipsum">
  <div id="thenewtext2">
   <h3>Please name your asset:</h3>
 </div>
 <input id="thenewinput" type="text" placeholder="Lorem Ipsum">
 <div id="thenewtext2">
   <h3>Please enter the asset detail:</h3>
 </div>
 <input id="thenewinput" type="text" placeholder="Lorem Ipsum">
  <button id="thenewbut" (click)="closeUpload()" > <h3>Upload Assets</h3></button>
  </div>


   <div id="assetshade"></div>
   
   <div id="assetdetail">
    <img id="assetdetailexit" src="./assets/img/cross.png" (click)="closeDetail()">
  <div id="brandsign"><h3>Brand Signature</h3></div>
  
  <br>


  <div id="detailbox">
    <div id="detailimgpart">
 <div id="detailimg"></div>
 <button id="imgoverview" (click)="showOverview()"><h3>Overview</h3></button>
 <button id="imgusage" (click)="showUsage()"><h3>Usage</h3></button>
 
 </div>
 
 <div id="detailword">
   <h2>Detail</h2>
   <h3>Asset ID</h3>
   <h4>{{ asset.productID }}</h4>
   <h3>Campaign</h3>
   <!-- <h4>{{ selectedAsset.categoryID}}</h4> -->
   <h3>Tags</h3>
   <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum consectetur mauris ac sodales. Cras laoreet</h4>
   <h3>Color</h3>
 
   <h2>Rights/ Terms of Use</h2>
 </div>
 <div id="detailinsight">
   <h2>Insights from the last 30 days</h2>
 
   <button id="viewinsightbut">View Insight</button>
 <div id="insightbotbox">
   <div id="insightbotleft">
 <div id="assetscore">
   <h2>2</h2>
   <h3>Asset Score</h3>
 </div>
   </div>
   <div id="insightbotright">
     <div id="assetview">
       <h2>2</h2>
       <h3>Views</h3>
     </div>
     <div id="assetdownload">
       <h2>2</h2>
       <h3>Downloads</h3>
     </div>
     <div id="assetshare">
       <h2>2</h2>
       <h3>Shares</h3>
     </div>
   </div>
 </div>
 </div>
  </div>
 

    </div>

    
<div id="container">
  <div class="supertop"  style="margin: 0;"> 
    <div class="navi" >
      
  
      <img id="logopart" src="./assets/img/newlogoblack.png">
      
     
      <a routerLink="/loginhome" class="navibottom">Home</a>
            <a routerLink="/asset" class="navibottom">Assets</a>
            <a id="firstbut" routerLink="/campaign" class="navibottom">Campaigns</a>
            <a routerLink="/guideline" class="navibottom">Guidelines</a>
            <a routerLink="/home">  <img id="exit" src="./assets/img/exit.png"></a>
       <img id="search" src="./assets/img/search.png">


       <a class="icon" (click)="openNav()">
        <img id="hamburger" src="./assets/img/hamburger.png">
        <img id="search2" src="./assets/img/search.png">
             </a> 


    </div>
  </div>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a id="sidenavibut" routerLink="/loginhome">Home</a>
    <a id="sidenavibut" routerLink="/asset">Assets</a>
    <a id="sidenavibut" routerLink="/campaign">Campaigns</a>
    <a id="sidenavibut" routerLink="/guideline">Guidelines</a>
    <a id="sidenavibut" routerLink="/home">Exit</a>

  </div>
  
  <div id="botpart" >
     <!-- <div id="searchpart">
      
    <div id="searchy">
      <div id="searchselet">
 
               
          <select (change)= "onChange($event)" [(ngModel)]="searchStr2">
          <option selected [value]="">All</option>
          <option placeholder="Category" *ngFor="let category of myCategory" >
          <h5>{{ category.categoryname }}</h5>
          </option>
          </select>
 
      </div>
      <div id="searchinput">
    <input type="text">
      </div>
    </div>
    
    </div>-->
    <div id="createnew" (click)="showUpload()"><h3>New</h3></div>
   
    <a id="title">Campaign name</a> 
 
    <a id="title2">Assets under this campaign</a>


      <div id="contentbox">
        <div id="everysingle"  *ngFor=" let asset of displayAssets| slice:0:1 ;" > <!--[appHoverHighlight]="{background:'#cfcfcf',leave:'white'}" -->
      
          <div id="block">
           <div id="blockhover">
            <img id="hoverexpand" src="./assets/img/expand.png">
            <img id="hoverdot" src="./assets/img/detail.png">
             
            <button id="hovershowbut" (click)="showDetail()">View


            </button>
          
          </div>
        
            <div id="descpart" >
              <h2> {{ categoryService.getCategoryName(asset.categoryID)}}</h2>
          </div>


          </div>
          <div id="logoword">
            <div id="roundlogo" > <div id="roundlogo1" ></div></div>
           
            <div id="abitdown">
              <div id="widfull">
            <a id="logoword1">Logos</a>
          </div>
        
          </div>
          </div>
   
      </div>
      
      
      </div>

   
    
      </div>
      
      <div id="botbox">
      
      </div>

  </div>


