/*

h2{
    color:black;
    font-size:14px;
    font-weight: 400;
    padding-left:15px;
   text-align: left;
   margin:0 ;
   margin-top:9px;
}


h1{
    margin-bottom: -2%;
    color:lightgray;
    font-size:19px;
}

#everysingle{
    display: block;
    float:left;
    width:230px !important;
    height:270px !important;
   border:2px solid #cfcfcf;
   border-radius: 5%;
  margin:15px;

}

#block{
    width:100%;
    height: 100%;
}

option{
    font-size:22px !important;
}
h5{
    font-size:22px !important;
}



button {
    width: 20%;
    background-color: #00263a;
    color: white;
    padding: 5px 2px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
   float:right;
   margin-right:8px;
  }



h4{
    color:white;
    width:20%;
 float:left;
 margin-left:20%;
 font-size: 25px;


}
  input[type=text],select {
    width: 100%;
    padding: 8px 8px;
  
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
   
  }

  #selectbox{
      float:right;
      width:40%;
      margin-right:10%;
      margin-top:5%;
  }
#search{
    float:right;
    width:50%;
    margin-top:-13%;
}
  .searchbar{
      float:left;
      width:37%;
  }
h5{
    font-size:25px;
}
  #categorychoose{
      float:right;
      width:60%;
  }


  #imgpart img{
     
    
      width:  200px;
      height: 150px;
      background-size: cover;
      padding-top:15px;
  }
  #brandword{
      text-align: left;
      font-size:18px;
      font-weight:700;
  }

*/

  /* header */




  .supertop{

	width:100%;
    z-index:1;
  
    
    
}
    









.navi{


  
    width:100%;
    height:56px;
 
background-color:white;
    }

    .navi a{
        margin-top:8px !important;
    }
   
        .navibottom:hover{
	background-color:#cfcfcf;
            }
    
        #firstbut{
          border-bottom: 5px solid black;
        }




#botpart{
 
  width:100%;
    background-color:#EBEBEB;
    height:1000px;
    padding-left:16px !important;
    margin-left:-8px;

}

#logopart{
    float:left;
	margin-left:4%;
	margin-top:10px;
	width:180px;
 
    
}


#container{
    width:100% !important;
  
}

#block{
    position: relative;
   
}

#contentbox{
    width:95%;
    float: left;
    margin-left: 3%;
}

#botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
    margin-left: -16px;
    padding-right: 16px;
   position: fixed;
   bottom:0;
z-index: 111111;
}

#loginhomeline{
    position: relative;
    width: 40%;
    float:right;
}


/* each box */
#searchpart{
    height: 100px;
}
#everysingle{
    width:15%;
    height: 170px;
    position: relative;
   float:left;
    background-color:#EBEBEB;
    border-radius: 13px;
    margin-right:30px;
    margin-top:20px;
    background-color: white;

}



#logoword1{
    font-size:12px;
    font-weight: 600 !important;
    text-align: left;
    clear:both;
 
    }
    
    #logoword2{
        font-size:10px;
        font-weight: 200 !important;
        text-align: left;
  
    }

    #widfull2{
margin-top: -5px;
    }
    #abitdown{
        margin-top: 8px;
  
  
    }
    #logoword{
       z-index: 1111;
        float: left;
        border-top:1px solid #EBEBEB;
        text-align: left;
        background-color: white;
        width:100%;
        height:50px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin-top: 50px !important;
    }

    #roundlogo1{
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background-color: lightblue;
        margin-left:17px;
        margin-top:10px;
    }
   
    #roundlogo{
       width:25%;
       float:left;
       height:100%;
  
    }
    
    

/*hover over each block */
#everysingle:hover{
    background-color: #cfcfcf;
    }
    
    
    
    #blockhover{
        display:none;
        position: absolute;
        width:100%;
    }
    
     
    
    #everysingle:hover #blockhover{
        display:block;
        
        }

        #hovershowbut{
            width:100px;
            height:30px;
          
            margin-top:15%;
            color:black;
            background-color: white;
            border:none;
            border-radius: 15px;
        }

        #hoverexpand{
            float:left;
            width:20px;
            margin-left:15px;
            margin-top: -5px;
        }
        #hoverdot{
            float:right;
            width:22px;
            margin-right:15px;
            margin-top: 0px;
        }

        #assetshade{
            position: fixed;
            width:100%;
            height:100%;
            background-color: black;
            opacity: 0.4;
            z-index: 100;
            margin-left:-8px;
            padding-right:16px;
            margin-top: -8px;
            display:none;
        }

        #assetdetail{

            position: fixed;
            width:900px;
            height:600px;
            margin-top: 3%;
           left:50%;
           margin-left:-450px;
         
            background-color: white;
            opacity: 1;
            border-radius: 20px;
            z-index: 101;
        display:none;
        }

        #assetdetailexit{
            float:right;
            width:30px;
            padding-left: 100%;
            margin-top:2%;
            margin-right:2%;
        }

        #brandsign{
            float:left;
           margin-left:5%;
           margin-top: 1%;
           width:700px;
           text-align: left;
        }

        #brandsign h3{
            font-size: 15px;
            font-weight: 400;
        }
        
        #detailbox{
            width:95%;
            margin-left: 3%;
        }
 
      
        #detailimg{
            width:500px;
            height:350px;
            background-color: #cfcfcf;  
            border-radius: 30px;
            float:left;
            display:block;
            
        }

     

        #imgoverview{
        height:60px;
        width:180px;
        background-color: black;
        color:white;
        border:none;
        border-radius: 10px;
     margin-top:4%;
     margin-right:8%;
        display:inline-block;
        border:1px solid black;
        }

        #imgusage{
            height:60px;
            width:180px;
            background-color: white;
            color:black;
            border:1px solid black;
            border-radius: 10px;
           
           display:inline-block;
           margin-top: 4%;
        }
        #detailword{
            width:300px;
            display:block;
            float:left;
            margin-left: 4%;
           text-align: left;
    
           
        }
        #detailinsight{
            width:300px;
            display:block;
            float:left;
            margin-left: 4%;
           text-align: left;
           display: none;
           
        }
 #detailword h2{
  font-size: 14px;
  font-weight: 600;
 }
 #detailword h3{
    font-size: 12px;
    font-weight: 400;
}
#detailword h4{
    font-size: 10px;
    font-weight: 200;
}

#detailimgpart{
    height:500px;
    width:500px;
 float:left;
    display: block;
    margin-left: 2%;
}

#detailinsight h2{
    font-size: 11px;
    color:#7B8996;
    text-align:center;

}

#viewinsightbut{
    
    height:50px;
    width:190px;
    background-color: black;
    color:white;
    border-radius: 8px;
    display: inline-block;
    border:none;
    font-size: 16px;
    margin-left:18%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#insightbotbox{
    width:100%;
}
#insightbotleft{
    width:55%;
    float:left;

}
#insightbotright{
    width:40%;
    float:left;

}


#assetscore{
    width:130px;
    height:150px;
    background-color: black;
    color:white;
    border-radius: 8px;
    opacity: 0.8;
}
#assetscore h2{
font-size: 50px;
margin-bottom: 0;
padding:0px;
margin-top: 50% !important;
margin-left: 8%;
text-align: left;
}
#assetscore h3{
    font-size: 15px;
    margin:0px;
padding:0px;
margin-left: 8%;
    }
#assetview{
width:100px;
height:110px;
background-color: lightblue;
opacity: 0.8;
border-radius: 8px;
display: inline-block;
text-align: left;
}
#insightbotright h2{
font-size: 40px;
margin-top:30%;
margin-bottom:0;
padding:0px;
text-align: left;
margin-left: 8%;
}
#insightbotright h3{
font-size: 12px;
margin-top:0px;
padding:0px;
margin-left: 8%;
}

#assetdownload{
    width:100px;
    height:110px;
    background-color: lightblue;
    opacity: 0.8;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    }
    #assetshare{
        width:100px;
        height:110px;
        background-color: lightblue;
        opacity: 0.8;
        border-radius: 8px;
        display: inline-block;
        text-align: left;
        margin-top: 5%;
        }

/* search bar */

#searchpart{
    width:100%;
    
}

#searchy{
    width:60%;
 
 margin-left:34%;   
 
}



#searchselet select{
    border:1px solid black;
    border-right: 0px;
  width:120px;
    height: 34px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#searchinput input{
    width:320px;
    height:30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border:1px solid black;
}

#searchselet{
   float:left;
   margin-top: 50px;
}
#searchinput {
   float:left;
   margin-top: 50px;
}

#createnew{
    width:80px;
    height:35px;
    margin-top:50px;
    border-radius: 30px;
    background-color: #7B8996;
    color:white;
    
    float: right;
    margin-right: 20%;
}

#createnew h3{
    margin-top:4px;
    font-weight: 300;
}
/* mobile responsiveness*/


.navibottom{
	
    border:none;
    display:inline-block;
    
    padding:12px 26px;


        color:black;
    text-decoration:none;	
 font-size: 16px;
margin-left:50px;
font-weight:500;
vertical-align: text-bottom;

    }

    #hamburger{
        float:right;
    display:none;
        margin-top:16px;
        width:26px;
        padding-right: 20px;
    }

    #search2{
        float:right;
    
        margin-top:14px;
        width:26px;
        padding-right: 20px;
        display:none;
    }
    
 

    @media only screen and (max-width: 1200px) {
        #widfull a{
            margin-left:10px;
          }
          #widfull2 a{
            margin-left:10px;
          }

        #searchselet select{
      
          width:100px;

        }
        
        #searchinput input{
            width:280px;

        }
 
        #logonword{
   
    
            margin-top:320px;
 
        }


        .navibottom{
	
     
            
            padding:12px 26px;
       
              width:60px;
        margin-left:40px;


            }
      }

      @media only screen and (max-width: 1100px) {
        #searchselet select{
      
            width:80px;
  
          }
          
          #searchinput input{
              width:240px;
  
          }
   

        .navibottom{
	
     
            
   
     
        margin-left:20px;


            }
      }

      @media only screen and (max-width: 1000px) {
        #everysingle{
            width:25%;
            height: 170px;
        
        
        }

        #createnew{
     
            margin-right: 15%;
        }
        #searchy{
            width:80%;
         
         margin-left:34%;   
         
        }
        #searchselet select{
      
            width:80px;
  
          }
          
          #searchinput input{
              width:200px;
  
          }
        .navibottom{

        margin-left:5px;


            }


 
            #botpart{
                height: 1000px;
            }
            
      }


      @media only screen and (max-width: 930px) {

        #searchy{
            width:80%;
         
         margin-left:29%;   
         
        }
    
          
        .navibottom{
           display: none;
       }

       #exit{
           display:none;
       }
       #search{
           display:none;
       }
    
       #hamburger{
           display: block;
           float:right !important;
       }
       #search2{
           display: block;
       }


      }
      @media only screen and (max-width: 750px) {
        #everysingle{
            width:35%;
            height: 170px;
        
        
        }

          
        #searchy{
            width:80%;
         
         margin-left:25%;   
         
        }
    }
      @media only screen and (max-width: 700px) {
        #createnew{
     
            margin-right: 10%;
        }
        #searchy{
            width:80%;
         
         margin-left:10%;   
         
        }

#botpart{
    height: 1500px;
}

      }

      @media only screen and (max-width: 500px) {
   
        
        #everysingle{
            width:40%;
            height: 170px;
        
        
        }


        #logopart{
     
       
            margin-top:10px;
            width:160px;
         
            
        }
        #searchinput input{
            width:130px;

        }
        #createnew{
     
            margin-right: 5%;
        }
        #searchy{
            width:80%;
         
         margin-left:5%;   
         
        }

    
        #search2{
            width:26px;
            margin-top: 14px;
        }
        #hamburger{
          width:26px;
          margin-top: 16px;
          padding-right: 20px;
      }


      }

      @media only screen and (max-width: 400px) {
      #everysingle{
        width:70%;
        height: 170px;
    
    
    }
}
      @media only screen and (max-width: 370px) {

        #logopart{
     
       
            margin-top:10px;
            width:140px;
         
            
        }
        #searchinput input{
            width:110px;

        }
        #createnew{
     
            margin-right: 4%;
        }
        #searchy{
            width:80%;
         
         margin-left:0%;   
         
        }

       
        #search2{
            width:22px;
            margin-top: 12px;
        }
        #hamburger{
          width:22px;
          margin-top: 14px;
          padding-right: 10px;
      }



      }


/* side navigation */

#search{
    float:right;

	margin-top:14px;
	width:26px;
	padding-right: 20px;
}
#exit{
    float:right;

	margin-top:16px;
	width:26px;
	padding-right: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #container {
    transition: margin-left .5s;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #sidenavibut{
      text-align: center;
      margin-left:-20px;
      font-size: 20px;
  }

  #botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
   margin-left:-8px;
   position: fixed;
   bottom:0;
z-index: 111111;
}

#title{
    float:left;
    margin-left:3%;

    font-weight: 700 !important;
    color:#666666;
   margin-top: 30px;
   padding-top: 3.5%;
   width:95%;
   text-align:left;

}

#title1{
    float:left;
    margin-left:3%;

    font-weight: 700 !important;
    color:#666666;
  
   width:80%;
   text-align:left;

}
#title2{
    float:left;
    margin-left:3%;
  margin-top: 0.5%;
    font-weight: 600 !important;
    color:lightblue;
   font-size: 12px;
   width:80%;
   text-align:left;
}


/* collections */
#collections{

    width:95%;
 
 
  margin-left:3%;
    height:auto;
  
   
}


#eachcoll{
    width:250px;
    height:80px;

    margin-top:20px;
    margin-right:1%;
  
    float:left;
}

#collbrand{
    width:30%;
    background-color: #7B8996;

    height:100%;
    float:left;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;

}
#collbrand h2{

    font-size: 20px;
}
#collright{
    width:60%;
    float:left;
   margin:0px !important;
    background-color: white;
    height:100%;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}



#thedot{
    background-color: lightblue;
    height:100%;
    width:20px;
    height:20px;
    border-radius: 100%;
margin-top:50%;
margin-left:30%;
}
#collrightdot{
    
    height:100%;
 
  
width:35%;
float:left;
}
#collrightdes{
    
    height:100%;
  text-align: left;
   
width:65%;
float:left;
}
#collrightdes1{
    width:100%;
   margin-top: 22%;
   font-size: 14px;
   font-weight: 400;
}

#collrightdes1 a{
   text-align: left;
  
}
#collrightdes2{
    width:100%;
 margin-top: 5%;
 font-size: 10px;
 font-weight: 200;
 color: #7B8996;
}

#collrightdes2 a{

    text-align: left;
}



/* show file upload */

#thenew{
    position: fixed;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.4;
    z-index: 100000;
    margin-left:-8px;
    padding-right:16px;
    margin-top: -8px;
    display:none;
}

#thenewbox{

    position: fixed;
    width:450px;
    height:380px;
   left:50%;
   margin-left:-225px;
    margin-top: 10%;
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    z-index: 100001;
display:none;
}

#thenewexit{
    float:right;
    margin-top: 30px;
    margin-right: 30px;
    padding-left:100%;
    width:26px;
}




#thenewtext1{
    width:100%;
    text-align: center;
    margin-top:50px;
}

#thenewtext1 h3{
   font-size: 15px;
   font-weight: 700;
}

#thenewtext2{
 text-align: left;
 margin-left: 17%;
    margin-top: 50px;
}
#thenewtext3{
    text-align: left;
    margin-left: 17%;
  
   }
#thenewtext2 h3{
    font-size: 12px;
    font-weight: 300;
}
#thenewtext3 h3{
    font-size: 12px;
    font-weight: 300;
}

#thenewinput{
    text-align: left;
    margin-left: 17%;
    float: left;
    width:60%;
    height:25px;
    padding-left:10px;
  border:1px solid black;
    border-radius: 5px;
   }
   #thenewinput::-webkit-file-upload-button {
    visibility: hidden;
  }
   #thenewbut{
       width:150px;
       display: inline-block;
       height:40px;
       border-radius:15px;
       background-color: #7B8996;
       margin-top: 7%;
       color:white;
       border:none;
   }
   #thenewbut h3{
    font-size: 14px;
    font-weight: 600;
    margin-top: 6%;
}

#container{

    font-family: Futura Book; 
  }
  #thenewbox{

    font-family: Futura Book; 
  }
  #assetdetail{

    font-family: Futura Book; 
  }
  button{
    font-family: Futura Book; 
  }

  button[type=submit]{
    font-family: Futura Book; 
  }
  @media only screen and (max-width: 500px) {
    #thenewbox{

        position: fixed;
        width:90% !important;
        height:380px;
       left:50%;
       margin-left:-45%;
        margin-top: 10%;

    }

}