/*

h2{
    color:black;
    font-size:14px;
    font-weight: 400;
    padding-left:15px;
   text-align: left;
   margin:0 ;
   margin-top:9px;
}


h1{
    margin-bottom: -2%;
    color:lightgray;
    font-size:19px;
}

#everysingle{
    display: block;
    float:left;
    width:230px !important;
    height:270px !important;
   border:2px solid #cfcfcf;
   border-radius: 5%;
  margin:15px;

}

#block{
    width:100%;
    height: 100%;
}

option{
    font-size:22px !important;
}
h5{
    font-size:22px !important;
}



button {
    width: 20%;
    background-color: #00263a;
    color: white;
    padding: 5px 2px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
   float:right;
   margin-right:8px;
  }



h4{
    color:white;
    width:20%;
 float:left;
 margin-left:20%;
 font-size: 25px;


}
  input[type=text],select {
    width: 100%;
    padding: 8px 8px;
  
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
   
  }

  #selectbox{
      float:right;
      width:40%;
      margin-right:10%;
      margin-top:5%;
  }
#search{
    float:right;
    width:50%;
    margin-top:-13%;
}
  .searchbar{
      float:left;
      width:37%;
  }
h5{
    font-size:25px;
}
  #categorychoose{
      float:right;
      width:60%;
  }


  #imgpart img{
     
    
      width:  200px;
      height: 150px;
      background-size: cover;
      padding-top:15px;
  }
  #brandword{
      text-align: left;
      font-size:18px;
      font-weight:700;
  }

*/

  /* header */




  .supertop{

	width:100%;
    z-index:1;
    
    
    
}
    









.navi{


  
    width:100%;
    height:56px;
 
background-color:white;
    }

    .navi a{
        margin-top:8px !important;
    }
  
        
        .navibottom:hover{
            background-color: #cfcfcf;
            }
    
        #firstbut{
          border-bottom: 5px solid black;
        }




#botpart{
 
  width:100%;
    background-color:#EBEBEB;
    height:1300px;
    padding-left:16px !important;
    margin-left:-8px;

}

#logopart{
    float:left;
	margin-left:4%;
	margin-top:10px;
	width:180px;
 
    
}

#search{
    float:right;

	margin-top:14px;
	width:26px;
	padding-right: 20px;
}
#exit{
    float:right;

	margin-top:16px;
	width:26px;
	padding-right: 20px;
}
#container{
    width:100% !important;
  
}

#middlebox{
    width:95%;
height:550px;
float:right;
border-radius: 30px;
background-color: white;

margin-top:3%;

margin-right:2.5%;
}



#logonword{
   
    float: left;
color:black;
    width:30%;
    font-size: 20px;
    margin-top:420px;
    margin-left: 17%;
    text-align: left;
}

#roundlogo{
    float:left;


	width:100px;
	
}

#logoword1{
font-size:20px;
font-weight: 600 !important;
text-align: left;
}

#logoword2{
    font-size:16px;
    font-weight: 200 !important;
    text-align: left;
}

#logoword{
   
    float: left;
margin-left: 15px;
margin-top: 22px;
    text-align: left;
}

#everysingle{
    width:18%;
    height: 120px;
    position: relative;
    display:inline-block;
    background-color: white;
    border-radius: 10px;
    margin-right:20px;
    margin-top:20px;
}

#detailimg{
    object-fit: contain;
    height:120px;
    max-width:100%;
}


#title{
    float:left;
    margin-left:3%;
    margin-top:5%;
    font-weight: 700 !important;
    color:#666666;
 
   width:200px;
   text-align:left;
}

#block{
    position: relative;
}

#contentbox{
    width:80%;
    float: left;
    margin-left: 10%;
}



#loginhomeline{
    position: relative;
    width: 40%;
    float:right;
}

#logoedit{
    position: relative;
    width: 30px;
    float:right;
    margin-top: 15px;
    margin-right:15px;
}
#botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
    margin-left: -16px;
    padding-right: 16px;
   position: fixed;
   bottom:0;
z-index: 111111;
}


/* mobile responsive*/

.navibottom{
	
    border:none;
    display:inline-block;
    
    padding:12px 26px;


        color:black;
    text-decoration:none;	
 font-size: 16px;
margin-left:50px;
font-weight:500;
vertical-align: text-bottom;

    }

    #hamburger{
        float:right;
    display:none;
        margin-top:16px;
        width:26px;
        padding-right: 20px;
    }

    #search2{
        float:right;
    
        margin-top:14px;
        width:26px;
        padding-right: 20px;
        display:none;
    }
    
 

    @media only screen and (max-width: 1200px) {

        #middlebox{
           
        height:450px;
   
        }
        #logonword{
   
    
            margin-top:320px;
 
        }

        #everysingle{
            width:16%;
            height: 120px;
         
            margin-right:20px;
            margin-top:20px;
        }

        #contentbox{
            width:90%;
            margin-left: 5%;
        }
        

        .navibottom{
	
     
            
            padding:12px 26px;
   
              width:60px;
        margin-left:40px;


            }
      }

      @media only screen and (max-width: 1100px) {
        #middlebox{
           
            height:350px;
       
            }
            #logonword{
       
        
                margin-top:220px;
     
            }
            
#roundlogo{

	width:80px;
	
}
    
        .navibottom{
	
     
            
 
        margin-left:20px;


            }
      }

      @media only screen and (max-width: 1000px) {
        .navibottom{

        margin-left:5px;


            }

            #everysingle{
                width:16%;
                height: 100px;
             
                margin-right:20px;
                margin-top:20px;
            }

            #detailimg{
                object-fit: contain;
                height:100px;
                max-width:100%;
            }
            #contentbox{
                width:100%;
               margin-left: 0px !important;
            }

            #loginhomeline{
                display:none;
            }
           
            #botpart{
                height: 1000px;
            }
            
      }


      @media only screen and (max-width: 930px) {


        .navibottom{
           display: none;
       }

       #exit{
           display:none;
       }
       #search{
           display:none;
       }
    
       #hamburger{
           display: block;
           float:right !important;
       }
       #search2{
           display: block;
       }

       #logonword{
        width:40%;
    }
    #botpart{
        height: 900px;
    }
    
      }

      @media only screen and (max-width: 700px) {

#botpart{
    height: 3000px;
}


        #middlebox{
           
            height:250px;
       
            }
            #logonword{
       
                margin-left: 10%;
                margin-top:120px;
               
            }
        #everysingle{
            width:80%;
            height:200px;
        }
        #detailimg{
           
            height:200px;
       
        }

        #logonword{
            width:90%;
        }
      }

      @media only screen and (max-width: 500px) {
        #botpart{
            height: 2300px;
        }
        #search2{
            width:26px;
            margin-top: 14px;
        }
        #hamburger{
          width:26px;
          margin-top: 16px;
          padding-right: 20px;
      }


      #logopart{
   
     
          margin-top:25px;
          width:1800px;
       
          
      }

        #logopart{
     
       
            margin-top:10px;
            width:160px;
         
            
        }

        #middlebox{
           
            height:180px;
       
            }
            #logonword{
       
                margin-left: 10%;
                margin-top:50px;
     
            }
        #everysingle{
            width:80%;
            height:150px;
        }
        #detailimg{
           
            height:150px;
       
        }

        #logonword{
            width:90%;
        }
      }
      @media only screen and (max-width: 350px) {
          #search2{
              width:22px;
              margin-top: 12px;
          }
          #hamburger{
            width:22px;
            margin-top: 14px;
            padding-right: 10px;
        }


        #logopart{
     
       
            margin-top:10px;
            width:140px;
         
            
        }

      }


/* side navigation */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #container {
    transition: margin-left .5s;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #sidenavibut{
      text-align: center;
      margin-left:-20px;
      font-size: 20px;
  }

  #botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
   margin-left:-8px;
   position: fixed;
   bottom:0;
z-index: 111111;
}


#container{

    font-family: Futura Book; 
  }

  button{
    font-family: Futura Book; 
  }

  button[type=submit]{
    font-family: Futura Book; 
  }


  /*edit profile*/

  
#thenew{
    position: fixed;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.4;
    z-index: 100000;
    margin-left:-8px;
    padding-right:16px;
    margin-top: -8px;
    display:none;
}

#thenewbox{

    position: fixed;
    width:450px;
    height:430px;
   left:50%;
   margin-left:-225px;
    margin-top: 10%;
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    z-index: 100001;
display:none;
}

#thenewexit{
    float:right;
    margin-top: 30px;
    margin-right: 30px;
    padding-left:100%;
    width:26px;
}




#thenewtext1{
    width:100%;
    text-align: center;
    margin-top:50px;
}

#thenewtext1 h3{
   font-size: 15px;
   font-weight: 700;
}

#thenewtext2{
 text-align: left;
 margin-left: 17%;
    margin-top: 50px;
}
#thenewtext3{
    text-align: left;
    margin-left: 17%;
  
   }
#thenewtext2 h3{
    font-size: 12px;
    font-weight: 300;
}
#thenewtext3 h3{
    font-size: 12px;
    font-weight: 300;
}

#thenewinput{
    text-align: left;
    margin-left: 17%;
    float: left;
    width:60%;
    height:25px;
    padding-left:10px;
  border:1px solid black;
    border-radius: 5px;
   }
   #thenewinput::-webkit-file-upload-button {
    visibility: hidden;
  }
   #thenewbut{
       width:150px;
       display: inline-block;
       height:40px;
       border-radius:15px;
       background-color: #7B8996;
       margin-top: 7%;
       color:white;
       border:none;
   }
   #thenewbut h3{
    font-size: 14px;
    font-weight: 600;
    margin-top: 6%;
}


#container{

    font-family: Futura Book; 
  }
  #thenewbox{

    font-family: Futura Book; 
  }

  button{
    font-family: Futura Book; 
  }

  button[type=submit]{
    font-family: Futura Book; 
  }
  @media only screen and (max-width: 500px) {
    #thenewbox{

        position: fixed;
        width:90% !important;

       left:50%;
       margin-left:-45%;
        margin-top: 10%;

    }

}