

<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>


<div id="thenew"></div>
   
<div id="thenewbox">
  <img id="thenewexit" src="./assets/img/cross.png" (click)="closeEdit()">
  
  <div id="thenewtext1">
    <h3>Edit Profile</h3>
  </div>
  <div id="thenewtext3">
    <h3>Please choose new logo image.</h3>
  </div>
  <input id="thenewinput" type="file" placeholder="Lorem Ipsum">
  <div id="thenewtext2">
    <h3>Please choose new background image.</h3>
  </div>
  <input id="thenewinput" type="file" placeholder="Lorem Ipsum">
  <div id="thenewtext2">
    <h3>Please enter new brand name</h3>
  </div>
  <input id="thenewinput" type="text" placeholder="Lorem Ipsum">
  <div id="thenewtext2">
    <h3>Please enter new slogan</h3>
  </div>
  <input id="thenewinput" type="text" placeholder="Lorem Ipsum">
  <button id="thenewbut" (click)="closeEdit()" routerLink="/campaigndetail"> <h3>Edit</h3></button>
  </div>

<div id="container">
    <div class="supertop"  style="margin: 0;"> 
      <div class="navi" >
        
    
        <img id="logopart" src="./assets/img/newlogoblack.png">
        
       
        <a id="firstbut" routerLink="/loginhome" class="navibottom">Home</a>
              <a routerLink="/asset" class="navibottom">Assets</a>
              <a routerLink="/campaign" class="navibottom">Campaigns</a>
              <a routerLink="/guideline" class="navibottom">Guidelines</a>
              <a routerLink="/home">  <img id="exit" src="./assets/img/exit.png"></a>
         <img id="search" src="./assets/img/search.png">


         <a class="icon" (click)="openNav()">
          <img id="hamburger" src="./assets/img/hamburger.png">
          <img id="search2" src="./assets/img/search.png">
               </a> 


      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a id="sidenavibut" routerLink="/loginhome">Home</a>
      <a id="sidenavibut" routerLink="/asset">Assets</a>
      <a id="sidenavibut" routerLink="/campaign">Campaigns</a>
      <a id="sidenavibut" routerLink="/guideline">Guidelines</a>
      <a id="sidenavibut" routerLink="/home">Exit</a>

    </div>
    

    <div id="botpart" >
   
    <div id="middlebox">
      <img id="logoedit" (click)="showEdit()" src="./assets/img/logoedit.png">
      <img id="loginhomeline"  src="./assets/img/loginhomeline.png">
    <div id="logonword">
    
      <img id="roundlogo" src="./assets/img/newlogoround.png">
        <div id="logoword">
          <a id="logoword1">LOUKEN</a>
          <br>
          <a id="logoword2">Branding forward</a>
        </div>
    </div>
    </div>
 
      <a id="title">RECENT UPLOADS</a>
    
    <div id="contentbox">
      <div id="everysingle"  *ngFor=" let asset of myAssets| slice:0:5 ;" [appHoverHighlight]="{background:'#cfcfcf',leave:'white'}">
        
        <div id="block">
          <div id="imgpart" >
          <img id="detailimg" src="{{asset.imageURL}}" >
        </div>
     
        </div>
    
    </div>
    
    
    </div>
      
    <a id="title">SUB-BRANDS</a>
    
    <div id="contentbox">
      <div id="everysingle"  *ngFor=" let asset of myAssets| slice:0:5 ;" [appHoverHighlight]="{background:'#cfcfcf',leave:'white'}">
        
        <div id="block">
          <div id="imgpart" >
          <img id="detailimg" src="{{asset.imageURL}}" >
        </div>
     
        </div>
    
    </div>
    
    
    </div>
 
  
    </div>
     
    <div id="botbox">
    
    </div>
    </div>



    
      <!--
    <div class="container">
     
      
        
       <div class="searchbar">
           <h3> Search... : </h3> <div id="search"><input type="text" [(ngModel)]="searchStr"></div>
          
          </div>
            <div id="categorychoose">
              <h4> Filter... :</h4>
              <div id="selectbox">
              <select [(ngModel)]="searchStr2">
                   
                    <option selected value="" >All</option>
                  <option placeholder="Category" *ngFor="let category of myCategory"  [value]="category.categoryID">
                    <h5>{{ category.categoryname }}</h5>
                  </option>
                  
                </select>
              </div>
              </div>-->
           
      <!--
              <div id="everysingle" *ngFor=" let asset of myAssets| category: 'categoryID' : searchStr2 | search: 'name' : searchStr; let i = index" [appHoverHighlight]="{background:'#cfcfcf',leave:'transparent'}">
                
                <div id="block">
                  <div id="imgpart" >
                    <img id="detailimg" src="{{asset.imageURL}}" > 
                </div>
                 <h1> {{ categoryService.getCategoryName(asset.categoryID)}}</h1>
                <h2 id="brandword"><strong>{{ asset.brand}}</strong></h2>
            
                <h2>{{ asset.name| uppercase}}</h2>
                 
               
                <button class="view-movie-details" (click)="viewdetails(asset.productID);">Details</button>
                <button class="view-movie-details" (click)="onDelete(asset.productID);">Delete</button>
                </div>
         </div>
      
       
     
    </div>
    -->