/*

button {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top:20px
  }
  
  button:hover {
    background-color: #45a049;
  }

#addasset{
    display: none;
}

#wholeting{
    
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-top:-20px;
    margin-right:-8px;
}
.container{
    width:80%;
    height:82%;
 
   margin-left:16%;
    margin-top:10%;
    position: absolute;
    
}


#addelectro{
    width:28%;
    height:100%;
    float:right;
    background-color: black;
    opacity: 0.8;
    border-radius: 3%;


}
*/

#assetlist{
    margin:0 !important;
    padding: 0 !important;
}

#wholeting{
    
   margin:0 !important;
}