
<div id="wholeting">
    
<div class="container">
<div id="assetlist"  appHoverHighlightgreen>
<app-asset-list [myAssets]="assetList" [myCategory]="categoryList"></app-asset-list>
</div>
 <!-- <div id="addelectro"  appHoverHighlightgreen>
<button (click)="showadd()">Add Asset</button>
<app-asset-add (assetListUpdated)="onassetListUpdated($event)" id="addasset"></app-asset-add>
</div>-->  
</div>
</div>
