
<div id="container">
  <div class="supertop"  style="margin: 0;"> 
    <div class="navi" >
      
      <img id="logopart" src="./assets/img/newlogoblack.png">
      
      <a  routerLink="/loginhome" class="navibottom">Home</a>
            <a routerLink="/asset" class="navibottom">Assets</a>
            <a routerLink="/campaign" class="navibottom">Campaigns</a>
            <a id="firstbut" routerLink="/guideline" class="navibottom">Guidelines</a>
            <a routerLink="/home">  <img id="exit" src="./assets/img/exit.png"></a>
            <img id="search" src="./assets/img/search.png">
            
            <a class="icon" (click)="openNav()">
            <img id="hamburger" src="./assets/img/hamburger.png">
            <img id="search2" src="./assets/img/search.png">
            </a>
           
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
              <a id="sidenavibut" routerLink="/loginhome">Home</a>
              <a id="sidenavibut" routerLink="/asset">Assets</a>
              <a id="sidenavibut" routerLink="/campaign">Campaigns</a>
              <a id="sidenavibut" routerLink="/guideline">Guidelines</a>
              <a id="sidenavibut" routerLink="/home">Exit</a>
        
            </div>
    </div>

  <!-- <div id="botpart"> -->
  <div id="bottompart">

    <h2 id="brandeletitle">Brand Elements</h2>
    <div id="elebox">
      <h3>KNOW THE RULES TO WIN THE GAME.</h3>
      <h4>Before you apply that drop shadow, read up on what you can or cannot do for full brand compliance.</h4>
    </div>

    <h3 id="title">Master Brand &nbsp;&nbsp;&nbsp;></h3>
    <h5 id="masterbrandsub">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h5>
  <div id="masterbox">
    <img id="circle" src="./assets/img/circle.png">
    <a id="logocircle">Logo Circle</a>
    <!-- <img id="brandlogo" src="./assets/img/newlogoblack.png"> -->
    <h2 id="brandlogo">B R A N D</h2>
    <a id="brandtext">Brand Logotype</a>
  </div>

    <h3 id="title">Logo Variation &nbsp;&nbsp;&nbsp;></h3>
    <h5 id="logovarsub">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut- pat.</h5>
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <br>
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">
    <img id="square" src="./assets/img/square.png">

    <h3 id="title">Logo Colours &nbsp;&nbsp;&nbsp;></h3>
    <div id="logocolrec">
    <div id="logocolrec2">
      <h5 id="hex">HEX</h5><a>#05121sads</a>
      <h5 id="rgb">RGB</h5><a>10, 20, 30</a>
    </div>

    <div id="logocolrec"></div>
    <div id="logocolrec2">
      <h5 id="hex">HEX</h5><a>#05121sads</a>
      <h5 id="rgb">RGB</h5><a>10, 20, 30</a>
    </div>

    <div id="logocolrec"></div>
    <div id="logocolrec2">
      <h5 id="hex">HEX</h5><a>#05121sads</a>
      <h5 id="rgb">RGB</h5><a>10, 20, 30</a>
    </div>

    <br>

    <div id="logocolrec"></div>
    <div id="logocolrec2">
      <h5 id="hex">HEX</h5><a>#05121sads</a>
      <h5 id="rgb">RGB</h5><a>10, 20, 30</a>
    </div>

    <div id="logocolrec"></div>
    <div id="logocolrec2">
      <h5 id="hex">HEX</h5><a>#05121sads</a>
      <h5 id="rgb">RGB</h5><a>10, 20, 30</a>
    </div>

    <div id="logocolrec"></div>
    <div id="logocolrec2">
      <h5 id="hex">HEX</h5><a>#05121sads</a>
      <h5 id="rgb">RGB</h5><a>10, 20, 30</a>
    </div>
  </div>
    
    <h3 id="title">Lorem ipsum dolor </h3>
    <h5 id="loremsub">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h5>
</div>

<div id="footer">
</div>

</div>