.supertop{

	width:100%;
    z-index:1;
  
    
}
    
.navi{
    width:100%;
    height:60px;
 
background-color:white;
    }

    .navi a{
        margin-top:8px !important;
    }
    .navibottom{
	
        border:none;
        display:inline-block;
        
        padding:16px 32px;
        padding-top:29px;

            color:black;
        text-decoration:none;	
     font-size: 18px;
    margin-left:50px;
    font-weight:500;
    vertical-align: text-bottom;
        }
        .navibottom:hover{
	background-color:black;
            }
    
        #firstbut{
          border-bottom: 5px solid black;
        }

#bottompart{
  width: 100%; 
  background-color:#EBEBEB;
  height: 1900px;
  padding-left: 16px;
  margin-left: -8px;

}

#logopart{
    float:left;
	margin-left:6%;
	margin-top:20px;
	width:220px;
 
    
}

#search{
    float:right;
	margin-left:6%;
	margin-top:20px;
	width:35px;
	padding-right: 60px;
}
#exit{
    float:right;
	margin-left:6%;
	margin-top:20px;
	width:35px;
	padding-right: 60px;
}

#container{
    width:100% !important;
  
}

#brandeletitle{
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#masterbrand{
    float: left;
}

#title {
    float:left;
    margin-left:3%;
    margin-top:2.5%;
    font-weight: 700 !important;
    color:#666666;
    width: 100%;
    text-align:left;
}

#masterbrandsub {
    float: left;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3%;
    width: 100%;
}

#logovarsub {
    float: left;
    text-align: left;
    margin-top: 0;
    margin-left: 3%;
    width: 100%;
}

#loremsub {
    float: left;
    text-align: left;
    margin-top: 0;
    margin-left: 3%;
    width: 100%;
}

/* #title{
    float: left;
    margin-top: 10px;
} */

#elebox {
    width:95%;
    height:300px;
    float:right;
    border-radius: 30px;
    background-color: white;
    margin-top:1%;
    margin-right:2.5%;
}

#masterbox {
    width:100%;
    height:300px;
    float:right;
    border-radius: 30px;
    background-color: white;
    margin-top:3%;
    margin-right:2.5%;
}

#square {
    float: left;
    padding-left: 2%;
}

#circle {
    margin-left: 16%;
    margin-top: 0.8%;
    float: left;
}

#logocircle {
    float: left;
    padding-top: 17%;
    margin-left: 1%;
}

#brandlogo {
    margin-left: 1%;
    margin-top: 1%;
}

#brandtext {
    margin-left: 22%;
}

#masterbox h2{
    padding-top: 8%;
    font-size: 50px;
}

#logocolrec {
    width: 14%;
    height: 85px;
    float: left;
    /* border-radius: 30px; */
    background-color: black;
    margin-top: 1%;
    margin-left: 3.4%;
}

#logocolrec2 {
    width: 14%;
    height: 85px;
    float: left;
    /* border-radius: 30px; */
    background-color: white;
    margin-top: 1%;
}

#logocolrec2 h5 {
    display: inline-block;
    font-size: 12px;
    margin-left: 17px;
}

#logocolrec2 a {
    display: inline-block;
    font-size: 14px;
    margin-left: 50px;
}

#rgb {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}

#footer{ 
    width: 100%;
    height: 90px;
    background-color: #7B8996;
    margin-left: -8px;
    padding-right: 16px;
    padding-top: 0;
}

.navibottom{
	
    border:none;
    display:inline-block;
    
    padding:16px 32px;
    padding-top:29px;

        color:black;
    text-decoration:none;	
 font-size: 18px;
margin-left:50px;
font-weight:500;
vertical-align: text-bottom;

    }

    #hamburger{
        float:right;
    display:none;
        margin-top:28px;
        width:30px;
        padding-right: 20px;
    }

    #search2{
        float:right;
        margin-top:24px;
        width:30px;
        padding-right: 20px;
        display:none;
    }
    
 

    @media only screen and (max-width: 1200px) {

        #middlebox{
           
        height:450px;
   
        }
        #logonword{
   
    
            margin-top:320px;
 
        }

        #everysingle{
            width:16%;
            height: 120px;
         
            margin-right:20px;
            margin-top:20px;
        }

        #contentbox{
            width:90%;
            margin-left: 5%;
        }
        

        .navibottom{
	
     
            
            padding:16px 32px;
            padding-top:29px;
              width:60px;
        margin-left:40px;


            }
      }

      @media only screen and (max-width: 1100px) {
        #middlebox{
           
            height:350px;
       
            }
            #logonword{
       
        
                margin-top:220px;
     
            }
            
#roundlogo{

	width:80px;
	
}
    
        .navibottom{
	
     
            
            padding-top:26px;
     
        margin-left:20px;


            }
      }

      @media only screen and (max-width: 1000px) {
        .navibottom{

        margin-left:5px;


            }

            #everysingle{
                width:16%;
                height: 100px;
             
                margin-right:20px;
                margin-top:20px;
            }

            #detailimg{
                object-fit: contain;
                height:100px;
                max-width:100%;
            }
            #contentbox{
                width:100%;
               margin-left: 0px !important;
            }

            #loginhomeline{
                display:none;
            }
           
            #botpart{
                height: 1000px;
            }
            
      }


      @media only screen and (max-width: 930px) {


        .navibottom{
           display: none;
       }

       #exit{
           display:none;
       }
       #search{
           display:none;
       }
    
       #hamburger{
           display: block;
           float:right !important;
       }
       #search2{
           display: block;
       }

       #logonword{
        width:40%;
    }
    #botpart{
        height: 900px;
    }
    
      }

      @media only screen and (max-width: 700px) {

#botpart{
    height: 3000px;
}


        #middlebox{
           
            height:250px;
       
            }
            #logonword{
       
                margin-left: 10%;
                margin-top:120px;
     
            }
        #everysingle{
            width:80%;
            height:200px;
        }
        #detailimg{
           
            height:200px;
       
        }

        #logonword{
            width:90%;
        }
      }

      @media only screen and (max-width: 500px) {

        #search2{
            width:30px;
            margin-top: 26px;
        }
        #hamburger{
          width:30px;
          margin-top: 28px;
          padding-right: 20px;
      }


      #logopart{
   
     
          margin-top:25px;
          width:1800px;
       
          
      }

        #logopart{
     
       
            margin-top:25px;
            width:180px;
         
            
        }

        #middlebox{
           
            height:180px;
       
            }
            #logonword{
       
                margin-left: 10%;
                margin-top:50px;
     
            }
        #everysingle{
            width:80%;
            height:150px;
        }
        #detailimg{
           
            height:150px;
       
        }

        #logonword{
            width:90%;
        }
      }

      @media only screen and (max-width: 350px) {
          #search2{
              width:24px;
              margin-top: 26px;
          }
          #hamburger{
            width:24px;
            margin-top: 28px;
            padding-right: 10px;
        }


        #logopart{
     
       
            margin-top:25px;
            width:150px;
         
            
        }

      }


/* side navigation */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #container {
    transition: margin-left .5s;
    
  }

  #circle {
    margin-left: 16%;
    margin-top: 0.8%;
    float: left;
    width: 250px;
    height: 1855px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #sidenavibut{
      text-align: center;
      margin-left:-20px;
      font-size: 20px;
  }

  #botbox{
    width:100%;
    height:60px;
    background-color: #7B8996;
   margin-left:-8px;
   position: fixed;
   bottom:0;
z-index: 111111;
}

#logocolrec {
    width: 14%;
    height: 85px;
    float: left;
    /* border-radius: 30px; */
    background-color: black;
    margin-top: 1%;
    margin-left: 3.4%;
}

#logocolrec2 {
    width: 14%;
    height: 85px;
    float: left;
    /* border-radius: 30px; */
    background-color: white;
    margin-top: 1%;
}

#logocolrec2 h5 {
    display: inline-block;
    font-size: 12px;
    margin-left: 17px;
}

#logocolrec2 a {
    display: inline-block;
    font-size: 14px;
    margin-left: 50px;
}

#rgb {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}

/* #logocircle {
    float: left;
    padding-top: 17%;
    margin-left: 1%;
width: 320px;
height: 180px;
} */

#circle {
    margin-left: 16%;
    margin-top: 0.8%;
    margin-bottom: 8%;
    float: left;
    width: 200px;
    height: 165px;
}

#brandlogo {
    margin-left: 13%;
    margin-top: 10%;
    width: 50%;
    height: 30%;
}

#brandtext {
    margin-left: 51%;
    margin-top: 5%;
}