p{
    padding-top:10%;
    
}

#wholeting{
    background-color: #022538;
    background-image: linear-gradient(to top right, #E7EFEE, white);
   margin:-8px !important;
   margin-top:-42px !important;
   height:700px;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
min-width: 400px;

}

#wordpart{
margin-top:200px;
position: absolute;
text-align: left;
margin-left:8%;
color:black;
width:370px;
}

#thebar{
    width:90%;
    height:7px;
    background-color:black;
    z-index: 1000;
  
}

#wordsecond{
   width:80%;
    font-weight:100 !important;
   margin-top:8%;
}



h3{font-size:30px;


     
   }

#thewhite{

    width:350px;
    height:350px;
  float:right;
    border-radius: 30px;
    background-color: white;
    margin-top:5%;
    
    margin-right: 8%;
    
}
#thegrey{

    width:350px;
    height:350px;
  float:right;
    border-radius: 30px;
    background-color: white;
   
    margin-top:15%;
   background-color: #C3C3C3;
    margin-right: -10%;
}
h3{
    font-size: 16px;
        font-weight: 400;
     
      
    }
#thedark{

    width:220px;
    height:220px;
  float:right;
    border-radius: 15px;
    background-color: white;
   
    margin-top:10%;
   background-color: #001923;
    margin-right: -9%;
}

img{
    
    width: 100%;
    position: relative;

}

#brands{
    margin-top:3%;
}

#learnmore{

    background-color: #EBEBEB ;
    height:700px;
}

#learnwhite{
    width:45%;
    height:550px;
    float:left;
    border-radius: 40px;
    background-color: white;
    margin-top:75px;
    margin-left:75px;
}

#learnword{
float: right;
    width:40%;
}

#learn1{
    color:black;
    font-size:20px;
    text-align: left;
    margin-top:130px;
    width:80%;
    font-weight:700;
}

#learn2{
    color:#082634;
    font-size:36px;
    text-align: left;
    width:80%;
    font-weight:700;
}

#learn3{
    color:#5692A0;
    font-size:28px;
    text-align: left;
    width:80%;
    margin-top:40px;
}

#learnbut{
    width:80%;
    height:70px;
    color:white;
    background-color:#082634 ;
    border-radius: 20px;
    float:left;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 750;
 
}

#clientstory{

    background-color:white ;
    height:700px;
    border-bottom: 3px solid #EBEBEB;
}

#client2{
    color:#082634;
    font-size:36px;
    text-align: center;
    width:80%;
    font-weight:700;
    width:100%;
    margin-top:90px;
}

#client3{
    color:#5692A0;
    font-size:28px;
    text-align:center;
    width:80%;
    margin-top:40px;
    width:34%;
    margin-left:33%;
}

#clientleft1{

    width:30%;
    height:400px;
    background-color: #EBEBEB ;
    float:left;
    margin-left:15%;
    border-radius: 40px;
    margin-top:70px;

}

#clientright1{

    width:30%;
    height:180px;
    background-color: #EBEBEB ;
    float:right;
   
    border-radius: 40px;
    margin-top:70px;
    margin-right:18%;
}

#clientright2{

    width:30%;
    height:180px;
    background-color: #EBEBEB ;
    float:right;
    margin-left:6%;
    border-radius: 40px;
    margin-top:40px;

    margin-right:18%;

}

#clientbut{
    background-color:#5692A0 ;
    width:20%;
    height:80px;
    margin-top: 15%;
    margin-left: -7%;
    position: absolute;
    border-radius: 20px;
    border:none;
    font-weight:600;
    font-size:15px;
    color:white;
    box-shadow:4px 6px #888888;
  
}

#loukenleft2{
    color:#082634;
    font-size:22px;
    text-align: center;
    width:80%;
    font-weight:700;
    width:100%;
  
    
}

#loukenleft3{
    width:210px;
    height:50px;
    border:2px solid #5692A0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-left:20px;
    color:#5692A0;
    margin-top:20px;
    margin-bottom: 70px;
}

#loukenbrand{
    width:100%;
}
#brandleft{
    width:40%;
    height:500px;
    margin-left:5%;


}

#subscribe{
    margin-top:20px;
    width:140px;
    height:55px;
    border:2px solid #5692A0;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
    color:#5692A0;
    margin-left:10px;
    margin-bottom: 70px;
}

#loukenleft1{

    width:100%;
    height:360px;
}

#loukenleft1 img{
 float:left;
    width:50%;
    margin-left:18%;
    margin-top: 15%;
  
}

#brandright{
    width:40%;
    float:right;
    height:500px;
 
   position: absolute;
   margin-top:-400px;
   margin-left:50%;
}

#brandright1{
width:33%;
float:left;
}

#brandright1 strong{
    color:#082634;
    font-size: 22px;
    font-weight: 700;

    }

    #brandright1 {
        color:#5692A0;
        font-size: 16px;
        }

        #getstart{
           
            width:80%;
            height:55px;
            float:right !important;
            border:none;
            border-radius: 18px;
            color:white;
            font-size:18px;
            font-weight:200 !important;
            background-color: #022538;
            background-image: linear-gradient(to top right,#022538, #2D848B);
            margin-right: 10%;
            margin-top: 30px;
            box-shadow: 3px 6px 19px black;
        }

        #landingline{
            float:right;
            width:66%;
            margin-top:-5%;
        }
    /* body login but mobile responsive */

    
#yourlouken{
	background: transparent;
	width:150px;
	height:55px;
	float:left !important;
	border:2px solid black;
	border-radius: 10px;
	color:black;
	font-size:18px;
	font-weight:200 !important;
    margin-left:8%;
}


#landingbut{
 
    display: none;
   
}
@media only screen and (max-width: 1000px) {
#landingline{
    display: none;
}

}
@media only screen and (max-width: 800px) {
	#landingline{
		display:none;
    }
    #landingbut{
		display:block;
	}
  }

  #wholeting{

    font-family: Futura Book; 
  }

  button{
    font-family: Futura Book; 
  }

  h2{font-size:41px;

  }