<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>


<app-header></app-header>

<div id="wholeting" >
  <img id="landingline" src="./assets/img/landinglinemid.png">
  <div id="landingbut">
  
    <button id="yourlouken" routerLink="/adminlogin" >Sign in</button>
  </div>
  <div id="wordpart">
  
    <div id="wordfirst">
      <h2>Say Hello to Better Brand Management.</h2>
     
    </div>
      <div id="thebar"></div>
    <div id="wordsecond">
      <h3>All of your brand, design and marketing assets on a single easy-to-use platform. With the store, sort, retrieve and review functions keeping the latest files and brand guidlines at the ready. Teamwork and brand governance have never been simpler.</h3>
    </div>


  </div>

  <!--
  <div id="thethree">
<div id="thewhite">
  

</div>

<div id="thegrey">
  

</div>
<div id="thedark">
  

</div>

  </div>
-->



</div>
<!--

<div id="brands">
  <img src="./assets/img/brands.png" alt="Louken Group" title="Louken Group" class="main-logo">
</div>

<div id="learnmore">

  <div id="learnwhite">


  </div>

  <div id="learnword">

    <div id="learn1">Lorem ipsum</div>
    <div id="learn2">Lorem ipsum dolor sit amet, consectetuer </div>
    <div id="learn3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam era </div>
    <button id="learnbut">Learn More</button>
  </div>
</div>

<div id="clientstory">

<div id="clientword">
  <div id="client2">Lorem ipsum dolor sit amet, con</div>
    <div id="client3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam  </div>
</div>

<div id="clientbot">
<div id="clientleft1">

</div>
<div id="clientright1">
  
</div>
<div id="clientright2">
  
</div>
</div>

<button id="clientbut">
  Read Our Clients Stories
</button>
</div>

<div id="loukenbrand">
<div id="brandleft">
  <div id="loukenleft1">
    <img src="./assets/img/logoblack.png" alt="Louken Group" title="Louken Group" class="main-logo">
   
  </div>
  <div id="loukenleft2">SUBSCRIBE TO OUR NEWSLETTER</div>
  <input id="loukenleft3" placeholder="Work Email"><button id="subscribe">Subscribe</button>
</div>

<div id="brandright">

  <div id="brandright1">
<strong>Lorem ipsum</strong><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a>
  </div>
  <div id="brandright1">
    <strong>Lorem ipsum</strong><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a><br><br>
<a>Lorem ipsum</a>
  </div>

  <div id="brandright1">
    <strong>Lorem ipsum</strong><br><br>
    <a>Lorem ipsum</a><br><br>
    <a>Lorem ipsum</a><br><br>
    <a>Lorem ipsum</a>
    <button id="getstart" routerLink="/adminlogin" >Sign in</button>
  </div>
</div>
</div>

-->