<div id="wholeting">
    <img src="/assets/img/AssetBack.jpg" alt="Smiley face" height="100%" width="100%">
<div class="container">

    <div class="detail">
  
<div id="wordpart">
       
    <h1>Enquiry Details</h1>
 
       <h1> EnquiryID: {{selectedEnquiry.enquiryusername}} </h1> 
       <h1> Email: {{selectedEnquiry.enquiryemail}}</h1>
       <h1> Subject: {{selectedEnquiry.enquirysubject}} </h1>
      
       <h1> Message: <h4>{{selectedEnquiry.enquirymessage}} </h4></h1>
       
      
       <div id="hidethis" class="form-group row">
        <label for="inputstatus" id="editword">Status</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputstatus" #inputstatus value="read">
        </div>
    </div>
       <br>
         <button value="unread" (click)="onUpdate(selectedEnquiry.enquiryemail,selectedEnquiry.enquirysubject,selectedEnquiry.enquirymessage,inputunread.value)" #inputunread><a href="/enquiry">Unread </a> </button>
       <a id="becomeread" href="/enquiry" (click)="onUpdate(selectedEnquiry.enquiryemail,selectedEnquiry.enquirysubject,selectedEnquiry.enquirymessage,inputstatus.value)"   class="navibottom">Go Back</a>
      
     </div>

  

      
    
  
    </div>
 
</div>
</div>
