<div class="container">

    <div class="o1">
   
     
       
    
          <div id="oneenquiry" *ngFor=" let enquiry of myEnquiries; let i = index">
                     <h1>Enquiry {{enquiry.enquiryusername}} submitted successfully:</h1>
          <!-- <h1><div id="floatl"> Your name:</div> {{ enquiry.enquiryusername}}</h1>
            <h1> <div id="floatl">  Your Email: </div>{{ enquiry.enquiryemail}}</h1>--> 
                <h1> <div id="floatl">Subject: </div>{{ enquiry.enquirysubject}}</h1>
                <h1> <div id="floatl">Status: </div>{{ enquiry.enquirystatus}}</h1>
                <!--    <h1> <div id="floatl"> Your message:</div> {{ enquiry.enquirymessage}}</h1>--> 
                    <button class="view-movie-details" (click)="onDeleteenquiry(enquiry.enquiryusername);">Delete</button>
                  <button class="view-movie-details" (click)="viewenquirydetails(enquiry.enquiryusername);">Details</button>
                   
      
     </div>
  
    </div>
 
</div>