h1{
    color:white;
    font-size: 18px;
    clear:both;
}

#oneenquiry{
    border-top: 1px solid white;
    padding-bottom:  2%;
}

#floatl{
    float: left;
    margin-left:6%;
}

button {
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-left:5%;
  }
 
  button:hover {
    background-color: #45a049;
  }