
 /*
  span.help-block {
      color: red;
    
  }

  
  #thegrey{
    background-color:#EBEBEB;
    height:470px;
    width:350px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    float:right;
   margin-top: 4%;
  }
#wholeting{
  background-repeat: no-repeat;
  margin-left:-20px;
  margin-top:-20px;
  margin-right:-8px;
}

h1{
    color:green;
}
h2{
    color:white;
    float:left;
}

h3{
  font-size: 13px;
      font-weight: 400;
      margin:0 !important;
      margin-top:-3% !important;
      float:right !important;
      margin-right: 17% !important;
    
}

input[type=text] {
    width: 70%;
    padding: 10px 16px;
   margin-bottom:25px; margin-top:5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
  	background: transparent;
	width:30%;
	height:55px;
	display: block;
	border:none;
	border-radius: 18px;
	color:white;
	font-size:18px;
	font-weight:200 !important;
	background-color: #001923;
	background-image: linear-gradient(to top right,#001923, #2D848B);
  float: right;
  margin-right: 13%;
  margin-top: -8%;
  box-shadow: 3px 8px 28px black;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }

  .container{
    background-color: #022538;
    background-image: linear-gradient(to bottom right,#022538, #2D848B);
 
  margin-top:0.5%;
   border-bottom-left-radius: 26px;
   border-top-left-radius: 26px;
   width:500px;
   height:700px;
  float:right;
  z-index: 1000 !important;

  
  }

  #emailpass{
    float:left;
    margin-left:15%;
    position:relative;
    color:white;
    font-size: 13px;
    font-weight: 300;
  
  }

  img{
    width:160px;
    margin-top:22%;
    display: block;
    margin-left: 15%;
  }

  #signin{
    font-size: 20px;
    font-weight: 650;
    color:white;
    width:100%;
    display: block;
    margin-left:-15%;
    margin-top: 5%;
    margin-bottom: 10%;
   
  }

  #forgetcreate{
    width:50%;
    margin:0px;
    text-align: left;
    color:white;
    font-size: 10px;
    font-weight: 300;
    margin-left: 16%;
    margin-top:8%;
  }
*/
p{
  padding-top:10%;
  
}
#warning h3{
  float:left;
  margin:0px;
  margin-left: 15%;
  font-size: 12px;
  color:white;
  font-weight: 300;
  clear: both;

}


#wholeting{
  background-color: #022538;
  background-image: linear-gradient(to top right, #E7EFEE, white);
 margin:-8px !important;
 margin-top:-42px !important;
 height:700px;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius: 40px;
 font-family: Futura Book !important; 

}

#wordpart{
  margin-top:200px;
  position: absolute;
  text-align: left;
  margin-left:8%;
  color:black;
  width:370px;
}

#thebar{
  width:90%;
  height:7px;
  background-color:black;
  z-index: 1000;

}


h2{font-size:41px;}
h3{font-size:30px;}

img{
  
  width: 100%;
  position: relative;

}

#loginpart{
  width:50%;
  height:800px;
  background-color: #231F20;
  margin-top:-110px;
  float: right;
  border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
}




h3{
font-size: 16px;
    font-weight: 400;
 color:white;
  
}

input[type=text] {
  width: 70%;
  padding: 10px 16px;
 margin-bottom:25px; margin-top:5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  height:50px;
}

button[type=submit] {
  background: transparent;
width:25%;
height:55px;
display: block;
border:none;
border-radius: 12px;
color:white;
font-size:18px;
font-weight:200 !important;
font-family: Futura Book !important; 
border:1px solid white;
float: right;
margin-right: 15%;
margin-top:5%;

}


#emailpass{
  float:left;
  margin-left:15%;
  width:100%;
  text-align: left;
  position:relative;
  color:white;
  font-size: 15px;
  font-weight: 400;

}


#loginpart img{
  width:25%;
  float:left;
 margin-left:15%;
 margin-top: 10%;
 display: none;
}
#signin{
  font-size: 33px;
  font-weight: 600;
  color:white;
  width:100%;
  display: block;
text-align: left;
margin-left:15%;
  margin-top: 25%;
  margin-bottom: 10%;
 
}
#wordsecond{
  width:80%;
   font-weight:100 !important;
   margin-top:8%;
   color:black !important;
 }

 #wordsecond h3{
  font-size: 30;
   color:black !important;
 }

 @media only screen and (max-width: 900px) {
  #loginpart img{
   display: block;
  }
  #wordpart{
      
      display:none;
     
  }
#startedbut{
  font-size:15px;
}
  #loginpart{
    width:100%;
 
  }
 
}
@media only screen and (max-width: 500px) {
  button[type=submit] {
    height:45px;
  }
  #startedbut{
    font-size:12px;
  }
}
@media only screen and (max-width: 400px) {
	
#signin{

  font-size: 25px;
}
  #startedbut{
    font-size: 12px;
  }
}

