
<!--
<div id="wholeting" >




  <img src="./assets/img/logowhite.png" alt="Louken Group" title="Louken Group" class="main-logo">
  <br>
   <a id="signin">SIGN IN TO LOUKEN</a>
  <div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
         
         <a id="emailpass"> EMAIL:</a> <span
         *ngIf="!contactForm.get('userID').valid && contactForm.get('userID').touched"
         class="help-block">
         <span *ngIf="contactForm.get('userID').errors['required']">
           <br><h3>Please enter a valid userID !</h3>
         </span>
         <span *ngIf="!contactForm.get('userID').errors['required'] 
         && contactForm.get('userID').errors['blankSpaces']">
         <br><h3>Empty spaces are not accepted.</h3>
         </span>
     </span>   
         <br>
          <input type="text" placeholder="ABC" id="userID" class="form-control"
          [formControlName]="'userID'" #userID >
                
        </div>
        
        <div class="form-group">
          <a id="emailpass"> PASSWORD:</a> 
           <span
          *ngIf="!contactForm.get('userPass').valid && contactForm.get('userPass').touched"
          class="help-block">
          <span *ngIf="contactForm.get('userPass').errors['required']">
            <br><h3>Please enter a valid password !!</h3>
          </span>
          <span *ngIf="!contactForm.get('userPass').errors['required'] 
          && contactForm.get('userPass').errors['blankSpaces']">
          <br><h3>Empty spaces are not accepted.</h3>
          </span>
      </span>  <br>
          <input type="text" placeholder="123" id="userPass" class="form-control"
          [formControlName]="'userPass'" #userPass>
                
        </div>
        <div id="forgetcreate">
        <a id="createacc">CREATE A LOUKEN ACCOUNT?</a><br>
        <a id="forgetpass">FORGOT PASSWORD?</a>
      </div>
        <button (click)="onLogin(userID, userPass)" [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">Sign In</button>
      </form>
           
    </div>
  </div>
 
</div>
<div id="thegrey">
    
</div>

</div>


-->

<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>
<app-header></app-header>

<div id="wholeting" >
 

  <div id="wordpart">

    <div id="wordfirst">
      <h2>Say Hello to Better Brand Management.</h2>
     
    </div>
      <div id="thebar"></div>
    <div id="wordsecond">
      <h3>All of your brand, design and marketing assets on a single easy-to-use platform. With the store, sort, retrieve and review functions keeping the latest files and brand guidlines at the ready. Teamwork and brand governance have never been simpler.</h3>
    </div>
  </div>

  <div id="loginpart">
    <img src="./assets/img/logowhite.png" alt="Louken Group" title="Louken Group" class="main-logo">
    <a id="signin">Sign in</a>
    <div class="row">
      <div class="col-sm-12 text-left">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
           
           <a id="emailpass"> Email</a>   
           <br>
            <input type="text" id="userID" class="form-control"
            [formControlName]="'userID'" #userID >
                  
          </div>
          
          <div class="form-group">
            <a id="emailpass"> Password    </a> 
        <br>
            <input type="text" id="userPass" class="form-control"
            [formControlName]="'userPass'" #userPass>
                  
          </div>
          <div id="warning">
          <span
            *ngIf="!contactForm.get('userID').valid && contactForm.get('userID').touched"
            class="help-block">
            <span *ngIf="contactForm.get('userID').errors['required']">
              <h3>Please enter a valid email.</h3>
            </span>
            <span *ngIf="!contactForm.get('userID').errors['required'] 
            && contactForm.get('userID').errors['blankSpaces']">
         <h3>Empty spaces are not accepted.</h3>
            </span>
        </span> 
        <span
        *ngIf="!contactForm.get('userPass').valid && contactForm.get('userPass').touched"
        class="help-block">
        <span *ngIf="contactForm.get('userPass').errors['required']">
        <h3>Please enter a valid password.</h3>
        </span>
        <span *ngIf="!contactForm.get('userPass').errors['required'] 
        && contactForm.get('userPass').errors['blankSpaces']">
       <h3>Empty spaces are not accepted.</h3>
        </span>
    </span> 
  </div>
          <div id="forgetcreate">
     
        </div>
          <button (click)="onLogin(userID, userPass)" [disabled]="!contactForm.valid" id="startedbut" type="submit">Let's get started</button>
        </form>
             
      </div>
    </div>
  </div>

</div>