<link href="//db.onlinewebfonts.com/c/b46bb1fc76216f5cd90457d0451dbee4?family=Futura+Book" rel="stylesheet" type="text/css"/>



   <div id="thenew"></div>
   
   <div id="thenewbox">
     <img id="thenewexit" src="./assets/img/cross.png" (click)="closeUpload()">
     
     <div id="thenewtext1">
       <h3>Upload Assets</h3>
     </div>
     <div id="thenewtext2">
       <h3>Please choose the assets.</h3>
     </div>
     <input id="thenewinput" type="file" placeholder="Lorem Ipsum">
     <button id="thenewbut" (click)="closeUpload()" routerLink="/campaigndetail"> <h3>Upload Assets</h3></button>
     </div>


<div id="container">
    <div class="supertop"  style="margin: 0;"> 
      <div class="navi" >
        
    
        <img id="logopart" src="./assets/img/newlogoblack.png">
        
       
        <a routerLink="/loginhome" class="navibottom">Home</a>
              <a routerLink="/asset" class="navibottom">Assets</a>
              <a id="firstbut" routerLink="/campaign" class="navibottom">Campaigns</a>
              <a routerLink="/guideline" class="navibottom">Guidelines</a>
              <a routerLink="/home">  <img id="exit" src="./assets/img/exit.png"></a>
         <img id="search" src="./assets/img/search.png">


         <a class="icon" (click)="openNav()">
          <img id="hamburger" src="./assets/img/hamburger.png">
          <img id="search2" src="./assets/img/search.png">
               </a> 


      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a id="sidenavibut" routerLink="/loginhome">Home</a>
      <a id="sidenavibut" routerLink="/asset">Assets</a>
      <a id="sidenavibut" routerLink="/campaign">Campaigns</a>
      <a id="sidenavibut" routerLink="/guideline">Guidelines</a>
      <a id="sidenavibut" routerLink="/home">Exit</a>

    </div>
    

    <div id="botpart" >
        <div id="drag">
<div id="dragimgpart">
    <img id="dragimg" src="./assets/img/dragupload.png">
</div>
<div id="dragwordpart1">
<div id="dragwordpart">
    <div id="dragword1">
<h3>Assets</h3>
    </div>
    <div id="dragword2">
        <h3>Upload Assets</h3>  
    </div>
    <div id="dragword3">
        <h5>A dynamic repository for all brand assets. To upload and download, simply drag and drop imgaes, working files, videos and more.</h5>
    </div>
    <button (click)="showUpload()" id="dragbut1">
        Upload Assets
    </button>

</div>

</div>


</div>
    </div>
     
    <div id="botbox">
    
    </div>
    </div>


